.starsContainer {
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
}

.add-rating-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: rgb(0 0 0 / 0.5);
}

.add-rating-screen-content {
  border-radius: 10px;
  padding: 2rem 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-rating-title {
  font-size: large;
  font-weight: bold;
}

.add-rating-subtitle {
  margin-top: 1rem;
  width: 100%;
  font-size: medium;
}

.cancel-rating-button {
  cursor: pointer;
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}

.add-rating-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.add-rating-screen-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

.rating-stars {
  margin-top: 1rem;
  font-size: 3.5rem;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-area {
  margin-top: 1rem;
  padding: 5px;
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  overflow: scroll;
}

.add-photos {
  margin-top: 10px;
}

.empty-state-container {
  padding: 2rem;
}

.review-images-container {
  width: 100%;
  margin-top: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.review-image-container {
  position: relative;
  min-width: 80px;
  height: 80px;
  margin-right: 5px;
}

.review-image-delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  font-size: 10px;
  cursor: pointer;
}

.review-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.ratings-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.ratings-screen-rating {
  display: flex;
  flex-direction: column;
  z-index: 20;
  padding: 2rem 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.rating-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
}

.rating-name-and-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.rating-user-display-name {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-review-text {
  margin-bottom: 1rem;
}

.rating-review-images {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.rating-review-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1rem;
}

.stars-span {
  color: #fcb040;
  width: fit-content;
}

.rating-stars div {
  cursor: pointer;
}

.submit-button {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.7rem;
  line-height: 2.25rem;
  font-weight: 500;
  padding: 1rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  background-color: #14cb5e;
  color: white;
  cursor: pointer;
}

.ovarall-rating-container {
  padding: 1rem 2rem 2rem;
  box-shadow: 0px 1px 10px #d2d2d2;
  position: relative;
}

.overall-rating-stars {
  font-size: 4rem;
  color: #fcb040;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  margin-top: 1rem;
  min-width: 200px;
  color: white;
  background-color: #ff9d9d;
  margin-right: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-star {
  height: inherit;
  width: 1em;
  height: 1em;
  line-height: 100%;
  margin-right: 0.25em;
}

.half-star {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 1em;
  line-height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.average-rating {
  margin-left: 1rem;
}

.ratings {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
}

.ratings-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
}

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 4rem;
  color: #fcb040;
  margin-top: 1rem;
  letter-spacing: 1rem;
}

.edit-rating-button {
  margin-left: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.add-rating-button {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  cursor: pointer;
  width: fit-content;
}

.ratings-text {
  font-size: 2rem;
}