body img {
    max-width : 100%;
    height: auto;
}
body.slim-tinymce {
    width: 50%;
    margin: 0 auto;
}
body *:hover {
    box-shadow: 0 0 0 1px var(--bf-theme-container-highlight, --bf-theme-body-text) !important;
    transition: 0.3s;
}
.bf-wysiwyg-hide-app:not(style) {
  display: inherit;
}
img[data-expr-src] {
    visibility: hidden;
}
