node_modules

/scripts/*.min.js
/scripts/**/*.min.js
/scripts/**/*.min.js.map
/scripts/*.min.js.map

/scripts/angular
/scripts/owlCarousel
/scripts/tinymce
/scripts/fastclick.js
/scripts/smartcrop.js

/pluginTester/scripts/*.min.js
/pluginTester/scripts/**/*.min.js
/pluginTester/scripts/angular
/pluginTester/scripts/lib

/test/ftest/assets
