/* General */
@font-face {
	font-family: 'Inter_Medium';
	src: url('../../fonts/inter-medium.otf');
	src: local('☺'), url('../../fonts/inter-medium.woff2') format('woff'), url('../../fonts/inter-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter_Regular';
	src: url('../../fonts/inter-regular.otf');
	src: local('☺'), url('../../fonts/inter-regular.woff2') format('woff'), url('../../fonts/inter-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Variables */
:root{
  --c-primary: #05acf0;
  --c-primary-light: #E5F1FF;
  --c-success: #14cb5d;
  --c-success-light: #E8FAEF;
  --c-danger: #ed4b4b;
  --c-warning: #ffb23e;
  --c-info: #000;
  --c-white: #fff;
  --c-gray1: #f2f2f2;
  --c-gray2: #ececec;
  --c-gray3: #ddd;
  --c-gray4: #afafaf;
  --c-gray5: #808080;
  --c-gray6: #5f5f5f;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text */
html{
  font-size: 16px;
}
body{
  font-family: 'Inter_Regular','Helvetica','Sans-Serif','Arial';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter_Medium','Helvetica','Sans-Serif','Arial';
  margin-bottom: .5em;
  color: var(--c-info);
}
.section-title, h1{
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--c-info);
  padding-top: .875rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-family: 'Inter_Medium','Helvetica','Sans-Serif','Arial';
}
.section-title::before,
h1::before {
  display: block;
  content: '';
  height: .25rem;
  width: 3.5rem;
  margin-bottom: .875rem;
  background-color: var(--c-info);
}
p.info-note {
  background-color: var(--c-gray2);
  line-height: 1.33;
  color: var(--c-gray5);
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
}

/* Columns */
[class^="col-"]{
  float: left;
}

/* CP Load in animation */
.slide-in{
  opacity: 0;
  animation: slide-in .3s ease-out .1s forwards;
}
@keyframes slide-in {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Buttons */
.bf-btn-icon{
  background-color: transparent;
  border: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--c-info);
}

/* Empty State */
.empty-state-lg{
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-state-lg h3,
.empty-state-lg h4,
.empty-state-lg h5,
.empty-state-lg h6{
  color: var(--c-gray6);
}

/* Tables */
.table-bf{
  border: 0;
}
.table-bf tbody{
  border: 1px solid var(--c-gray3);
}
.table-bf > tbody > tr > td{
  padding: .5rem;
  vertical-align: middle;
}

.table-bf .img-holder{
  background-color: var(--c-gray1);
  border-radius: .25rem;
  height: 2.5rem;
  aspect-ratio: 1;
  margin: 0;
}

/* Bottom Actions */
.bottom-actions{
  display: flex;
  justify-content: end;
  padding: 0.75rem;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--c-white);
  box-shadow: 0 -.125rem .25rem rgba(0, 0, 0, .1);
}
.bottom-actions .btn{
  min-width: 6rem;
  margin-left: .75rem;
}
html[buildfire='control'] .sub-page{
  height: calc(100% - 3rem);
}

/* Image Picker Aspect Ratio*/

.image-picker.aspect-1-1 .screens .screen.layouticon a{
  aspect-ratio: 1;
  height: 96px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.image-picker.aspect-1-1 .screens .screen a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: baseline;
}
.image-picker.aspect-1-1 .screens .screen a span.add-icon{
  left: auto;
  margin: 0;
  line-height: 1;
}
