<!DOCTYPE html>
<html ng-app="buildfire">
<head lang="en">
	
	<!-- Title & Favicons -->
	<title>BuildFire SDK</title>
	<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
	
    <meta charset="UTF-8"/>
    <base href="./"/>

    <!-- CSS -->
    <link href="../styles/bootstrap.css" rel="stylesheet">
    <link href="../styles/siteStyle.css" rel="stylesheet">
    <link href="../styles/loading.css" rel="stylesheet">
    <link href="../styles/helper.css" rel="stylesheet">
    <link href="../styles/siteIcons.css" rel="stylesheet">
    <link href="http://app.buildfire.com/styles/siteScreen.css" rel="stylesheet">

    <link href="styles/pulldown.css" rel="stylesheet">

    <!-- JS -->
    <script type="text/javascript" src="../scripts/angular/angular.min.js"></script>


</head>
<body onhashchange="window.location.reload()" ng-controller="indexCtrl" >
<div id="container" ng-controller="openDialogCtrl">
    <div class="loading-screen"  ng-show="showSpinner">
        <div class="loading-bg">
            <div class="loading-dots">
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
            </div>
        </div>
    </div>
    <header class="navbar-fixed-top border-bottom-grey">
        <div class="contain">
            <a href="http://buildfire.com" class="logo text-center ng-scope">
                <img src="http://cdn.pluginserver.buildfire.com/docResources/logo.jpg">
            </a>
            <div class="alert alert-danger site-alert trans ition-half text-center">Error Message.</div>
        </div>
    </header>
    <nav>
        <ul class="menu">
            <li>
                <a href="http://github.com/buildfire/sdk/wiki" target="_blank" class="parent primary-color-hover transition-third">
                    <p class="text margin-zero ellipsis transition-third">API Docs</p>
                    <span class="icon icon-bubble-question transition-third"></span>
                </a>
            </li>
            <li>
                <a href="#/" class="parent primary-color-hover transition-third">
                    <p class="text margin-zero ellipsis transition-third">Tester</p>
                    <span class="icon icon-home transition-third"></span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/BuildfireJS" target="_blank"
                   class="parent primary-color-hover transition-third" >
                    <p class="text margin-zero ellipsis transition-third">BuildFire News</p>
                    <span class="icon icon-bullhorn transition-third"></span>
                </a>
            </li>
            <li>
                <a ng-href="http://dev.buildfire.com" target="_blank"
                   class="parent primary-color-hover transition-third">
                    <p class="text margin-zero ellipsis transition-third">Submit Plugin</p>
                    <span class="icon icon-check-square transition-third"></span>
                </a>
            </li>
            <li class="datatracer" >
                <a href="{{dataTracer}}" ng-show="dataTracer" class="parent primary-color-hover transition-third" target="_blank">
                    <p class="text margin-zero ellipsis transition-third">Data Tracer</p>
                    <span class="icon icon-cli transition-third"></span>
                </a>
            </li>
            <li>
                <a target="_blank" class="parent primary-color-hover transition-third"
                   href="http://app.buildfire.com">
                    <p class="text margin-zero ellipsis transition-third">Control Panel</p>
                    <span class="icon icon-window transition-third"></span>
                </a>
            </li>
            <li>
                <a href="#/settings" class="parent primary-color-hover transition-third">
                    <p class="text margin-zero ellipsis transition-third">Settings</p>
                    <span class="icon icon-cog transition-third"></span>
                </a>
            </li>
            <li class="dark divider">
                Recent Plugins
            </li>
            <div >
                <li class="dark" ng-repeat="p in recentPlugins" >
                    <a ng-cloak href="#/plugin/{{p}}" class="parent primary-color-hover transition-third">
                        <p class="text margin-zero ellipsis transition-third">{{p}}</p>
                    </a>
                </li>
            </div>
        </ul>
    </nav>

    <section id="main-content">
        <div class="shell-sdk holder">
            <section id="pageContent" ng-class="{'largeWidth': hideEmulator}" class="pull-left slide wrapper border-radius-six border-grey" ng-view>
            </section>
            <section id="emulator" class="pull-right" ng-controller="shellCtrl">
                <div id="emulatorContainer" ng-hide="hideEmulator" class="border-grey">
                    <span class="emulatorlabel">iOS / Android</span>

                    <div id="app" class="overflow-hidden">
						<div class="loading-screen" ng-show="showSpinner">
							<div class="loading-bg">
								<div class="loading-dots">
									<div class="dot dot1"></div>
									<div class="dot dot2"></div>
								</div>
							</div>
						</div>
                        <div id="pluginRefreshPanel" ng-show="showNavigationBar">
                            <p class="text-center">Pull to Refresh</p>
                        </div>
                        <div id="pluginContentPanel">
                            <div id="widgetTitle" ng-show="showNavigationBar" class="header text-center" style="min-height:45px; position:absolute; width:100%;">
                                <a class="back-btn-icon icon icon-chevron-left pull-left" ng-click="back()"></a>
                                <span ng-click="titleClick()">Title</span>
                            </div>
                            {{errorMessage}}
                            <iframe id="widget" ng-src="{{widgetSrc}}" style="height:596px; width:346px;" ng-style="{'padding-top': showNavigationBar ? '49px' : '0px' }" class="border-grey pluginFrame" seamless allowfullscreen sandbox="allow-scripts allow-forms  allow-same-origin allow-popups"></iframe>
                            <div id="login" ng-include="'https://app.buildfire.com/app/fragments/auth/auth.html'"></div>
                        </div>
                    </div>
                    <div >
                        <div class="showTools-links text-center">
                            <a ng-show="!showTools" ng-click="showTools=true">Show Tools</a>
                            <a ng-show="showTools" ng-click="showTools=false">Hide Tools</a>
                        </div>
                        <div class="showTools-content margin-top-ten clearfix" ng-show="showTools">
                            <div class="labels col-md-3 pull-left padding-zero margin-top-five">
                                <span>Deeplink Data</span>
                            </div>
                            <div class="main col-md-9 pull-right padding-right-zero">
                                <div class="col-md-8 pull-left padding-zero">
                                    <input id="dld" type="text" class="form-control" ng-model="link.deeplinkData"/>
                                </div>
                                <div class="col-md-4 pull-right padding-right-zero">
                                    <button class="btn btn-primary stretch" ng-click="sendDeeplinkData()" ng-disabled="!link.deeplinkData">Send </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</div>

<script type="text/javascript" src="../scripts/angular/angular-route.min.js"></script>
<script type="text/javascript" src="../scripts/angular/ng-file-upload.min.js"></script>
<script type="text/javascript" src="../scripts/angular/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="../scripts/angular/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="../scripts/angular/ng-map.min.js"></script>
<script type="text/javascript" src="../scripts/angular/ngAutocomplete.js"></script>

<!-- JS -->
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="pages/controllers/shellCtrl.js"></script>
<script type="text/javascript" src="pages/controllers/indexCtrl.js"></script>
<script type="text/javascript" src="pages/controllers/settingsCtrl.js"></script>
<script type="text/javascript" src="pages/controllers/loginCtrl.js"></script>


<script type="text/javascript" src="scripts/siteConfig.js"></script>
<script type="text/javascript" src="scripts/appContext.js"></script>
<script type="text/javascript" src="scripts/loadScripts.js"></script>
<script type="text/javascript" src="scripts/overrides.js"></script>
<script type="text/javascript" src="scripts/pullDownToRefresh.js"></script>


<link href="http://app.buildfire.com/styles/bootstrapIcons.css" rel="stylesheet">
</body>
</html>