.reactions-main-container {
    min-height: 2.5rem !important;
    position: relative;
    display: inline-block;
}

.reaction-main-button {
    padding: 0.25rem 0rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.reactions-main-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 0.25rem;
}

.reactions-main-icon-container {
    width: 2rem !important;
    height: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactions-show-main-icon{
    animation-name: reactions-show-main-icon-animation;
    animation-duration: 0.3s;
}

.reactions-total-count {
    width: 1.5rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bf-theme-body-text);
}

.reactions-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bf-theme-background);
    gap: 0.75rem;
    padding: 0.25rem;
    border: 0.063rem solid rgba(150, 150, 150, 0.2);
    border-radius: 2.688rem;
    z-index: 150;
}

.reactions-icon-container .icon {
    padding: 0.25rem;
    cursor: pointer;
}

.reactions-icon-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: var(--bf-theme-body-text);
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.reactions-clickable-image {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
}

.reaction-container-show .reactions-icon-animation {
    animation-name: reactions-icons-animation;
}

.reaction-container-hide .reactions-icon-animation {
    animation-name: reactions-hide-icons-animations;
    transform: translateY(1.563rem) scale(0.1)
}

.reactions-hidden {
    display: none !important;
}

@-webkit-keyframes reactions-icons-animation {
    0% {
        transform: translateY(1.563rem) scale(.3374)
    }

    100% {
        transform: translateY(0) scale(1)
    }
}

@-webkit-keyframes reactions-hide-icons-animations {
    0% {
        transform: translateY(0) scale(1)
    }

    100% {
        transform: translateY(1.563rem) scale(.3374)
    }
}

@-webkit-keyframes reactions-show-main-icon-animation {
    0% {
        transform: scale(0.1)
    }

    100% {
        transform: scale(1)
    }
}