*{
	outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:Helvetica, Sans-Serif, Arial;
}

/* Prevent user selection on text to prevent blue highlight (but not on inputs/textarea) */
p,
span,
label{
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html,
body{
	font-family:Helvetica, Sans-Serif;
	font-weight:100;
	color:#5f5f5f;
	margin:0px;
	height:100%;
	overflow:hidden !important;
}
html:not([buildfire]){
	overflow:hidden !important;
}
html[view="app"] ::-webkit-scrollbar{
	display:none;
}
img,
iframe,
object{
	max-width:100%;
	vertical-align:top;
}
img{
	height:auto;
}
iframe{
	border:none;
	outline:none;
	width:100%;
	display:block;
}
.widget-content ul,
textarea{
	overflow:auto;
}
.holder{
	padding:15px;
}
.padded{
	padding:15px;
}
.holder .btn.dropdown-toggle{
	width:100%;
}

/* Plugin Nav */
#pluginNav{
	height:auto !important;
	background:#09a3ee;
	padding:14px 10px;
	border-bottom:none;
	margin-bottom:0;
}
#pluginNav a.back-btn-icon,
#pluginNav a.menu-btn-icon{
	position:absolute;
	top:17px;
	left:10px;
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	cursor:default;
}
#pluginNav a.menu-btn-icon{
	left:auto;
	right:10px;
	font-size:21px;
	top:15px;
}
#pluginNav h4,
#pluginNav h5{
	text-align:center;
	color:#fff;
	margin:0 auto;
	max-width:75%;
	font-size:16px;
	line-height:18px;
	position:relative;
	top:4px;
	font-weight:100;
}
/* Target Webkit browsers for alignment */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#pluginNav h4,
	#pluginNav h5{
		top:3px;
	}
}
#pluginNav #pluginTitle{
	padding:15px;
	margin:-15px auto;
}
#pluginNav #btnBack{
	padding:17px;
	margin:-17px;
}
iframe#launcherPlugin.showNav{
	padding-top:49px;
}
section.showNav.hideBack #btnBack{
	display:none;
}
section.showNav #plugin, #plugin.access-code-visible{
	z-index:1030;
}
/* To prevent launcher navbar from overlapping plugin navbar */
.launcherNav #pluginNav{
	z-index:inherit;
}

/* Click Feedback */
.clickFeedback{
	position:relative;
}
.clickFeedback:after{
	content:'';
	position:absolute;
	top:0%;
	left:00%;
	width:100%;
	height:100%;
	opacity:0.3;
	background:#ccc;
	transition:0.2s all ease-in-out;
}

/* Footer Menu */
#footerMenuParent{
	text-align:center;
	position: absolute;
	left: 0;
	bottom: 0;
	/*height: 40px;*/
	min-height: 40px;
	height: 7%;
	width: 100%;
	z-index: 1;
}

#footerMenuParent .action-group {
	display: table;
	width: 100%;
	cursor: pointer;
	table-layout: fixed;
	position: relative;
	vertical-align: middle;
	height: 100%;
}

#footerMenuParent .action-group .action-item {
	display: table-cell;
	width: 1%;
	float: none!important;
	position: relative;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

#footerMenuParent .action-group .action-item > *{
	vertical-align: middle;
	font-size: 3.5vh;
}

.has-footer-menu {
	/*height:calc(100% - 40px) !important;*/
	/*padding-bottom: 43px;*/
	padding-bottom: 11%;
}

.has-footer-menu-shadow{
	/*box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);*/
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
}

.has-footer-menu-topborder{
	border-top: 1px solid white !important;
}

.has-footer-menu-border-right .action-item:not(:last-child) {
	border-right: 1px solid rgba(193, 193, 193, 0.47);
}

/* Menu Toggle */
#menu-location span.icon{
	padding: 1em !important; /* increase clickable area */
	margin: -1em !important;/* increase clickable area */
	font-size:21px;
	vertical-align:top;
	color:#fff;
}
#menu-location .notification-circle{
	position: absolute;
	top: 3px;
	right: 30px;
	width: 7px;
	height: 7px;
	text-align: center;
	border-radius: 100%;
}
#menu-location.menu-left-align .notification-circle{
	left:30px;
}
#menu-location .notification-circle span{
	font-size:10px;
	position:relative;
	top:-2px;
	text-align:center;
}

/* Menu */
#menu{
	position:relative;
}
nav.menu{
	position:fixed;
	right:-100%;
	top:0;
	width:100%; /* nav width*/
	height:100%;
	z-index:99999999;
	background:#fff;
	opacity:0.95;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	transition:all 0.15s ease;
}
nav.menu.active{
	opacity:0.95 !important;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}

nav.menuLeft{
	opacity:0.95;
	right:100% !important;
}
nav.menuLeft.active{
	opacity:0.95;
	-webkit-transform:translateX(100%) !important;
	transform:translateX(100%) !important;
}

nav.menu a{
	display:block;
	width:100%;
	padding:10px 12px;
	text-decoration:none;
	position:relative;
}
nav.menu a.username{
	padding-top:15px;
	padding-bottom:14px;
	padding-right:37px;
	cursor:default;
}
nav.menu a.playing{
	padding:0;
}
nav.menu a.playing .media{
	width:38px;
	height:38px;
	margin:0;
}
nav.menu a.playing .media img{
	max-height:100%;
	max-width:100%;
}
nav.menu a.playing p{
	margin:0;
	max-width:77%;
	padding:11px 10px 9px;
}
nav.menu a.playing span.icon{
	margin:8px 10px 0 0;
	font-size:21px;
}
nav.menu span.menu-close{
	position:absolute;
	top:19px;
	right:12px;
	font-size:13px;
	font-weight:600;
	cursor:pointer;
	z-index:99;
}
nav.menu #sideMenuCloseButton{
	padding:15px;
	margin:-15px;
}
nav.menu a.divider{
	padding-top:2px;
	padding-bottom:4px;
	border-top:none !important;
	background:#efefef;
	cursor:default;
}
nav.menu a .media{
	display:inline-block;

	line-height:20px;
	margin-right:12px;
	text-align:center;
}
nav.menu a .media img{
	vertical-align:middle;

	width:32px;
	height:32px;

	border-radius:2px;
	border-radius: 5px;
}
nav.menu a .media .main-icon{
	vertical-align:middle;
	font-size:18px;
}
nav.menu a p{
	margin:3px 0 0;
	max-width:100%;
	font-size:3vh;
	line-height:3.5vh;

}

nav.menu a.notifications {
	display: flex; /* unify iOS and Android sup notification badge marker location */
}

nav.menu a.notifications p.notifications-text {
	display: inline-block;
	max-width: 95%;
	padding-right:0.4em;
}

nav.menu a.notifications p.notifications-badge{
	display:inline;
}

/* Menu UI Custom CSS */
nav.menu.circle-media img,
nav.menu.circle-media .media img{
	border-radius:100% !important;
}
nav.menu.no-media a.notifications .icon,
nav.menu.no-media a.item-link img,
nav.menu.no-media a.item-link span.main-icon{
	display:none !important;
}
nav.menu.layout2{
	width:120px;
	right:-120px;
}
nav.menu.active.layout2{
	transform:translateX(-120px);
}
nav.menu.layout2 a .media.avatar,
nav.menu.layout2 a .media{
	height:inherit;
	width:100%;
	margin:0 0 4px 0;
	vertical-align:top;
}
nav.menu.layout2 a .media img{
	max-height:inherit;
	max-width:57px;
}
nav.menu.layout2 a .media.avatar img{
	border:2px solid #fff;
}
nav.menu.layout2 a p{
	display:block;
	width:100%;
	text-align:center;
	font-size:12px;
	line-height:15px;
}
nav.menu.layout2 a p.user-name{
	font-size:13px;
}
nav.menu.layout2 a{
	padding:8px;
}
nav.menu.layout2 a.notifications,
nav.menu.layout2 a.item-link{
	padding:14px 8px;
}
nav.menu.layout2 a.item-link p.ellipsis{
	text-overflow:inherit;
	max-height:46px;
	white-space:inherit;
	overflow:hidden;
}
nav.menu.layout2 a.login{
	padding:16px 8px;
}
nav.menu.layout2 a.logout{
	padding-top:0 !important;
}
nav.menu.layout2 a.divider{
	padding-top:1px;
	padding-bottom:2px;
}
nav.menu.layout2 a .media{
	padding:0;
	text-align:center;
}
nav.menu.layout2 a.notifications p{
	padding-right:0;
}
nav.menu.layout2 a .media .main-icon{
	font-size:22px;
	display:inline-block;
	padding:4px 0;
	position:relative;
	top:3px;
}
nav.menu.layout2 a.item-link:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:inline-block;
	border-top:1px solid #ccc;
	opacity:0.5;
}
nav.menu.layout4 a.item-link:first-child:after{
	display:none;
}
nav.menu.layout2 a.item-link .media img{
	max-width:30px;
}
nav.menu.layout3{
	width:200px;
	right:-200px;
	background:rgba(0,0,0,0.96) !important;
}
nav.menu.active.layout3{
	transform:translateX(-200px);
}
nav.menu.layout3 a.username .media.avatar,
nav.menu.layout3 a.username .media{
	height:inherit;
	width:100%;
	margin:0 0 4px 0;
	vertical-align:top;
}
nav.menu.layout3 a.username .media img{
	max-height:inherit;
	max-width:80px;
}
nav.menu.layout3 a.username .media.avatar img{
	border:2px solid #fff;
}
nav.menu.layout3 #sideMenuCloseButton,
nav.menu.layout3 a,
nav.menu.layout3 p{
	color:#fff !important;
}
nav.menu.layout3 p{
	font-size:12px;
}
nav.menu.layout3 a.item-link p{
	margin-bottom:3px;
}
nav.menu.layout3 a.logout{
	padding-top:0 !important;
}
nav.menu.layout3 a p.user-name{
	font-size:13px;
}
nav.menu.layout3 a.divider p,
nav.menu.layout3 a.username p,
nav.menu.layout3 a.login p,
nav.menu.layout3 a.logout p{
	text-indent:0;
}
nav.menu.layout3 a.username p.user-name,
nav.menu.layout3 a.login p,
nav.menu.layout3 a.logout p{
	text-align:center;
}
nav.menu.layout3 a.username .media{
	display:inline-block;
}
nav.menu.layout3 a{
	padding:8px 10px;
}
nav.menu.layout3 a.divider{
	background:#252525 !important;
	padding:3px 10px;
}
nav.menu.layout3 a.username.login{
	padding:14px 10px;
}

nav.menu.layout4{
	width:200px;
	right:-200px;
}
nav.menu.active.layout4{
	transform:translateX(-200px);
}
nav.menu.layout4 a .media.avatar,
nav.menu.layout4 a .media{
	height:inherit;
	width:100%;
	margin:0 0 4px 0;
	vertical-align:top;
}
nav.menu.layout4 a.username .media img{
	max-height:inherit;
	max-width:57px;
}
nav.menu.layout4 a .media.avatar img{
	border:2px solid #fff;
}
nav.menu.layout4 a p{
	display:block;
	width:100%;
	text-align:center;
	font-size:13px;
	line-height:15px;
}
nav.menu.layout4 a p.user-name{
	font-size:13px;
}
nav.menu.layout4 a{
	padding:8px;
}
nav.menu.layout4 a.login{
	padding:16px 8px;
}
nav.menu.layout4 a.logout{
	padding-top:0 !important;
}
nav.menu.layout4 a.divider{
	padding-top:1px;
	padding-bottom:2px;
}
nav.menu.layout4 a.divider p{
	margin-bottom:3px;
}
nav.menu.layout4 a .media{
	padding:0;
	text-align:center;
}
nav.menu.layout4 a.item-link .media{
	height:100%;
	width:100%;
	min-height:100%;
	min-width:100%;
	position:absolute;
	top:0;
	left:0;
}
nav.menu.layout4 a.item-link .media:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	opacity:0.85;
	width:100%;
	height:100%;
	z-index:2;
	transform:translate3d(0,0,0);
}
nav.menu.layout4 a.item-link .media img{
	border-radius:0 !important;
}
nav.menu.layout4 a.item-link p{
	position:absolute;
	top:52%;
	transform:translateY(-50%);
	z-index:4;
	margin-top:0;
}
nav.menu.layout4 a.item-link p.ellipsis{
	text-overflow:inherit;
	max-height:76px;
	white-space:inherit;
	overflow:hidden;
}
nav.menu.layout4 a.item-link .media .main-icon{
	font-size:60px;
	padding:22px 0;
	display:inline-block;
	opacity:0.5;
}
nav.menu.layout4 a.item-link .media img{
	max-width:100%;
	max-height:100%;
	width:100%;
	height:auto;
	margin-top:0px;
}
nav.menu.layout4 a.item-link{
	width:50%;
	float:left;
	height:100px;
	position:relative;
}
nav.menu.layout4 a.item-link:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:inline-block;
	opacity:0.5;
	border-top:1px solid #ccc;
}
nav.menu.layout4 a.item-link:first-child:after,
nav.menu.layout4 a.item-link:nth-child(2):after{
	border-top:none;
}
nav.menu.layout4 a.item-link:nth-child(2n):after{
	border-left:1px solid #ccc;
}
nav.menu.layout4 a.item-link p{
	position:absolute;
	left:0;
	width:100%;
	padding:0 6px;
}
nav.menu.layout4 a.notifications .media{
	width:auto;
	margin-right:12px;
	height:22px;
	width:22px;
	line-height:20px;
	text-align:center;
	display:inline-block;
}
nav.menu.layout4 a.notifications .media .main-icon{
	font-size:18px;
	vertical-align:middle;
}
nav.menu.layout4 a.notifications p,
nav.menu.layout4 a.adminMode p{
	width:auto;
	max-width:100%;
	text-align:center;
}
nav.menu.layout4 a.notifications span.icon{
	display:none;
}

nav.menu.layout5{
	background:rgba(255,255,255,0.94) !important;
}
nav.menu.layout5 #sideMenuCloseButton,
nav.menu.layout5 a,
nav.menu.layout5 p{
	color:#5f5f5f !important;
}
nav.menu.layout5 p{
	font-size:13px;
}
nav.menu.layout5 a.logout{
	padding-top:0 !important;
}
nav.menu.layout5 a.username .media{
	width:35px;
	height:35px;
	display:inline-block;
}
nav.menu.layout5 a.username .media img{
	max-width:35px;
	max-height:35px;
}
nav.menu.layout5 a.username p.user-name{
	margin-top:8px;
}
nav.menu.layout5 a{
	padding:8px 10px;
}
nav.menu.layout5 a.username.login{
	padding:14px 10px;
}
nav.menu.layout5 a .media .main-icon{
	font-size:20px;
}
nav.menu.layout5 a.item-link .media{
	float:left;
}
nav.menu.layout5 a.divider{
	background:none !important;
	padding:0 10px;
	margin-top:13px;
	font-weight:500;
}
nav.menu.layout5 a.divider p{
	font-size:14px;
}
nav.menu.layout5 a.divider + a,
nav.menu.layout5 .clearfix a.item-link:first-child{
	padding-top:1px;
}
nav.menu.layout5 a.notifications,
nav.menu.layout5 a.adminMode,
nav.menu.layout5 .clearfix a.item-link{
	padding-left:25px !important;
}

nav.menu.layout6{
	background:rgba(255,255,255,0.94) !important;
}
nav.menu.layout6 a .media.avatar,
nav.menu.layout6 a .media{
	height:inherit;
	width:100%;
	margin:0 0 4px 0;
	vertical-align:top;
}
nav.menu.layout6 a.username .media img{
	max-height:inherit;
	max-width:57px;
}
nav.menu.layout6 a .media.avatar img{
	border:2px solid #fff;
}
nav.menu.layout6 #sideMenuCloseButton,
nav.menu.layout6 a,
nav.menu.layout6 p{
	color:#5f5f5f !important;
}
nav.menu.layout6 a p{
	display:block;
	width:100%;
	text-align:center;
}
nav.menu.layout6 a p.user-name{
	font-size:13px;
}
nav.menu.layout6 a{
	padding:8px;
}
nav.menu.layout6 a.login{
	padding:14px 8px;
}
nav.menu.layout6 a.logout{
	padding-top:0 !important;
}
nav.menu.layout6 a{
	padding:7px 10px;
}
nav.menu.layout6 a.notifications p{
	padding-right:0;
}
nav.menu.layout6 a.notifications .media,
nav.menu.layout6 a.adminMode .media,
nav.menu.layout6 a.item-link .media{
	display:none;
}
nav.menu.layout6 a.divider{
	background:none !important;
	padding:0 10px;
	margin-top:13px;
	font-weight:500;
}
nav.menu.layout6 a.divider p{
	font-size:16px;
}
nav.menu.layout6 a.divider + a,
nav.menu.layout6 .clearfix a.item-link:first-child{
	padding-top:1px;
}

nav.menu.layout7{
	width:200px;
	right:-200px;
}
nav.menu.active.layout7{
	transform:translateX(-200px);
}
nav.menu.layout7 a .media.avatar,
nav.menu.layout7 a .media{
	height:inherit;
	width:100%;
	margin:0 0 4px 0;
	vertical-align:top;
}
nav.menu.layout7 a.item-link .media{
	height:auto;
	margin:14px 0;
}
nav.menu.layout7 a.username .media img{
	max-height:inherit;
	max-width:57px;
}
nav.menu.layout7 a .media.avatar img{
	border:2px solid #fff;
}
nav.menu.layout7 a p{
	display:block;
	width:100%;
	text-align:center;
	font-size:12px;
	line-height:15px;
}
nav.menu.layout7 a.item-link p{
	position:absolute;
	bottom:16px;
	left:0;
	padding:0 5px;
	width:100%;
}
nav.menu.layout7 a p.user-name{
	font-size:13px;
}
nav.menu.layout7 a{
	padding:8px;
}
nav.menu.layout7 a.login{
	padding:16px 8px;
}
nav.menu.layout7 a.logout{
	padding-top:0 !important;
}
nav.menu.layout7 a.divider{
	padding-top:1px;
	padding-bottom:2px;
}
nav.menu.layout7 a.divider p{
	margin-bottom:3px;
}
nav.menu.layout7 a.item-link .media .main-icon{
	font-size:30px;
	padding:1px 0;
	display:inline-block;
}
nav.menu.layout7.circle-media a.item-link .media .main-icon{
	font-size:28px;
	padding:2px 0;
}
nav.menu.layout7 a.item-link .media img{
	max-width:32px;
	max-height:32px;
	margin-top:0px;
}
nav.menu.layout7 a.item-link{
	width:50%;
	float:left;
	height:100px;
	position:relative;
}
nav.menu.layout7 a.item-link:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:inline-block;
	opacity:0.5;
	border-top:1px solid #ccc;
}
nav.menu.layout7 a.item-link:first-child:after,
nav.menu.layout7 a.item-link:nth-child(2):after{
	border-top:none;
}
nav.menu.layout7 a.item-link:nth-child(2n):after{
	border-left:1px solid #ccc;
}
nav.menu.layout7 a.notifications .media{
	width:auto;
	margin-right:12px;
	height:22px;
	width:22px;
	line-height:20px;
	text-align:center;
	display:inline-block;
}
nav.menu.layout7 a.notifications .media .main-icon{
	font-size:18px;
	vertical-align:middle;
}
nav.menu.layout7 a.notifications p,
nav.menu.layout7 a.adminMode p{
	width:auto;
	max-width:100%;
	text-align:center;
}
nav.menu.layout7 a.notifications span.icon{
	display:none;
}


/* WYSIWYG Content */
.widget-content{
	word-wrap:break-word;
}

/* Slider */
.plugin-slider,
.plugin-slide,
.contact-maps,
.user-profile .plugin-banner{
	max-height:380px;
	position:relative;
}
.plugin-slide.show-map{
	height:320px;
}
.plugin-slide img,
.contact-maps img{
	max-height:380px;
	width:auto !important;
	margin:0 auto;
}
.no-background .plugin-slide{
	background:none;
}

/* Dynamic Links */
.dynamic-links a,
.dynamic-links p{
	display:block;
	width:100%;
	position:relative;
	padding:10px 0;
	margin:0;
}
.dynamic-links a:before,
.dynamic-links p:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
/*.modal-dialog .dynamic-links a:before,
.modal-dialog .dynamic-links p:before{
	opacity:1;
}*/
.dynamic-links p:hover{
	cursor:pointer;
}
.dynamic-links a img,
.dynamic-links p img{
	width:17px;
	height:auto;
	position:relative;
	top:1px;
	border-radius:2px;
}
.dynamic-links a .icon,
.dynamic-links p .icon{
	font-size:17px;
	margin-right:5px;
	position:relative;
	top:3px;
}

/* Push Notifications */
.push-notifications .push-item{
	display:block;
}
.push-notifications .push-item .ellipsis-two{
	max-height:45px;
	overflow:hidden;
}
.push-notifications .push-item .indicator{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:100%;
	display:none;
}
.push-notifications .push-item .indicator.active{
	display:inline-block;
}

/* User Profile */
.user-profile .edit-profile{
	position:absolute;
	left:0;
	width:100%;
}
.user-profile .edit-profile.done-editing{
	bottom:-27px;
}
.user-profile .edit-profile .inner,
.user-profile .edit-profile .cancel-link{
	max-width:677px;
	padding:10px;
	width:100%;
	margin:0 auto;
}
.user-profile .edit-profile .cancel-link{
	padding:5px 15px 0 0;
}
.user-profile .user-info{
	max-width:677px;
	margin:0 auto;
	padding:0 15px;
	width:100%;
	position:relative;
}
.user-profile .user-info .user-avatar{
	position:absolute;
	top:-60px;
	border-radius:100%;
	border:2px solid #fff;
	overflow:hidden;
	width:120px;
	height:120px;
	background:#32373a;
}
.user-profile .user-info .user-personal{
	padding-left:140px;
}
.user-profile .user-list-items .item{
	padding:4px 0 2px;
	width:100%;
	position:relative;
}
.user-profile .user-list-items .item:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.user-profile .user-list-items .item span{
	font-size:12px;
	line-height:12px;
}
.user-profile .user-list-items .item p{
	margin:-4px 0 0;
}
.user-profile .user-list-items .item:first-child{
	padding-bottom:0;
}
.user-profile .user-list-items .item:first-child:after,
.user-profile .item.location:after,
.user-profile .item.bio:after{
	border-top:none !important;
}
.user-profile .item.location{
	padding-top:0;
	margin-top:-10px;
}
.user-profile .item.location p{
	font-size:12px;
}
.user-profile .user-list-items{
	margin:70px auto 0;
	max-width:677px;
}


/* Edit User Profile */
.user-profile.edit .plugin-slider:after,
.user-profile.edit .user-info .user-avatar:after{
	content:'Upload Cover';
	position:absolute;
	top:37%;
	left:50%;
	margin-left:-32px;
	font-size:12px;
	line-height:16px;
	width:64px;
	text-align:center;
	color:#fff;
}
.user-profile.edit .user-info .user-avatar:after{
	content:'Upload Avatar';
}
.user-profile.edit .user-info .user-avatar .user-media{
	height:100%;
}
.user-profile.edit .plugin-slider:after{
	top:44%;
	font-size:14px;
	line-height:18px;
	width:120px;
	margin-left:-60px;
}
.user-profile.edit .form-control{
	border:none;
	padding:0;
	height:inherit;
	min-height:inherit;
	font-size:14px;
	background:none;
}
.user-profile.edit textarea.form-control{
	min-height:40px;
	resize:none;
}
.user-profile.edit .item.no-span .form-control{
	padding:6px 0;
}

/* iOS Transparent Nav */
html[ios="true"][view="app"] #pluginNav{
	padding-top:27px !important;
	height:64px !important;
}
html[ios="true"][view="app"] #pluginNav a.back-btn-icon{
	top:32px !important;
	padding-bottom:13px !important;
}
html[ios="true"][view="app"] #pluginNav a.menu-btn-icon{
	top:27px !important;
}
html[ios="true"][view="app"] #pluginNav h4,
html[ios="true"][view="app"] #pluginNav h5{
	padding-bottom:8px !important;
}
html[ios="true"][view="app"] #menu-location{
	top:23px !important;
}
html[ios="true"][view="app"] iframe.pluginFrame{
	padding-top:61px !important;
}
html[ios="true"][view="app"] iframe.pluginFrame.noTitleBar{
	padding-top:0px !important;
}
html[ios="true"][view="app"] .login-holder .cancel-link{
	top:27px !important;
}
html[ios="true"][view="app"] nav.menu a.username{
	padding-top:26px !important;
}
html[ios="true"][view="app"] nav.menu span.menu-close{
	top:30px !important;
}

/* iPhone X Nav bar. [storyboard-launch-images="true"] means that splash screens supports iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	/* iOS Transparent Nav */
	[ios="true"][view="app"][storyboard-launch-images="true"] .app-settings-plugin{
		padding-top:70px !important;
	}
	[ios="true"][view="app"][storyboard-launch-images="true"] .pushSubscriptions-holder{
		height: 95% !important;
	}
	[ios="true"][view="app"][storyboard-launch-images="true"] #footerMenuParent{
		padding-bottom : 30px !important;
		min-height:82px !important;
	}
	[ios="true"][view="app"][storyboard-launch-images="true"] #footerMenuParent .action-group {
	border-bottom: 	1px solid rgba(193, 193, 193, .47)
	}
	[ios="true"][view="app"][storyboard-launch-images="true"] .notification-item p:first-child{
		padding-top: 10px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] #pluginNav{
		padding-top:40px !important;
		height:71px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] #pluginNav a.back-btn-icon{
		top:42px !important;
		padding-bottom:23px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] #pluginNav a.menu-btn-icon{
		top:37px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] #pluginNav h4,
	html[ios="true"][view="app"][storyboard-launch-images="true"] #pluginNav h5{
		padding-bottom:18px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] #menu-location{
		top:39px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] iframe.pluginFrame{
		padding-top:71px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] iframe.pluginFrame.noTitleBar{
		padding-top:10px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] .login-holder .cancel-link{
		top:37px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] nav.menu {
		padding-top:15px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] nav.menu span.menu-close{
		top:44px !important;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] .push-notifications{
		padding-top: 20px!important ;
	}
	html[ios="true"][view="app"][storyboard-launch-images="true"] .notificationHolder{
		padding-top: 20px!important ;
	}

	html[ios="true"][view="app"][storyboard-launch-images="true"] iframe#launcherPlugin.showNav{
		padding-top:69px;
	}

	html[ios="true"][view="app"][storyboard-launch-images="true"] iframe#launcherPlugin{
		/*padding-top: 25px; this is causing launcher plugin with BG images to appear they are cut from the top */
	}

	html[ios="true"][view="app"][storyboard-launch-images="true"] iframe#launcherPlugin,
	html[ios="true"][view="app"][storyboard-launch-images="true"] iframe.pluginFrame {
		padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
		padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
	}

	html[ios="true"][view="app"][storyboard-launch-images="true"] .has-footer-menu iframe#launcherPlugin,
	html[ios="true"][view="app"][storyboard-launch-images="true"] .has-footer-menu iframe.pluginFrame {
		padding-bottom: 41px;
	}

}

/* iFrame */
/* Plugin iFrame */
section .pluginPage,
section .pluginPage #pluginContentPanel,
#iframeControl,
#iframeControl body,
#controlIFrame,
#controlIFrame body,
.pluginFrame,
#launcherPlugin,
html[buildfire]{
	width:100%;
	min-width:100%;
	max-width:100%;
	height:100%;
	background:none;
	overflow:hidden !important;
}
html[buildfire] body{
	height:100% !important;
	width:100% !important;
	overflow-y:auto !important;
	-webkit-overflow-scrolling:touch !important;
}
html[buildfire] body.no-scroll{
	overflow:hidden !important;
	-webkit-overflow-scrolling:inherit !important;
}
html[buildfire] body.no-scroll .scrollable{
	overflow-y:auto !important;
	overflow-x:hidden !important;
	-webkit-overflow-scrolling:touch !important;
	height:100% !important;
	width:100% !important;
}

/* Modal */
.modal-dialog .header{
	padding:10px 15px;
	background:#eef0f0;
	position:relative;
}
.modal-dialog .header h4{
	font-size:14px;
	line-height:20px;
	font-weight:300;
	position:relative;
	top:2px;
	padding-right:30px;
}
.modal-dialog .header span.close-modal{
	position:absolute;
	right:15px;
	top:15px;
	color:#5f5f5f;
	font-size:12px;
	font-weight:600;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.modal-dialog .header span.close-modal:hover{
	cursor:pointer;
}
.modal .modal-content .padded{
	padding:15px;
}
.modal .modal-content .padded .content{
	font-size:13px;
}
.modal .modal-content .bottom,
.section .bottom.border-top-grey{
	height:34px;
	overflow:hidden;
	border-radius:0 0 4px 4px;
}
.modal .modal-content .bottom div,
.section .bottom.border-top-grey div{
	padding:0;
}
.modal .modal-content .bottom .col-md-6,
.section .bottom.border-top-grey .col-md-6{
	width:50%;
}
.modal .modal-content .bottom div a,
.bottom div a.action{
	width:100%;
	padding:6px;
	display:inline-block;
	cursor:pointer;
	font-size:13px;
	text-decoration:none;
}
.modal .modal-content span.btn-info-icon{
	position:relative;
	top:4px;
}

.rightBackButton{
	right: -300px;
}

.translucent{
	background-color: rgba(255,255,255,0) !important;
}

.menu-left-align{
	left: 0 !important;
	border-radius: 0px 5px 5px 0px !important;
	width: 41px;
}

.menu-right-align{
	width: 41px;
}

.floating-right{
	margin-right: 10px;
	border-radius: 5px !important;
}

.floating-left{
	margin-left: 10px;
	border-radius: 5px !important;
}
.user-profile-holder{
	overflow-y: scroll;
}
#richModal {
	position: fixed;
	z-index: 999999991;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
}

#richModal .focus-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.3;
	pointer-events: auto !important;
}

#richModal .detail-modal {
  background: #FFF !important;
  z-index: 100;
  width: 90vw;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  max-height: 95vh;
  position: absolute;
  left: 0;
  right: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeOutScreen {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeInScreen {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animated {
  animation-duration: 700ms;
  animation-fill-mode: both;
}
.fadeInUp {
  animation-name: fadeInUp;
}
.fadeOutScreen {
  animation-name: fadeOutScreen;
}
.fadeInScreen {
  animation-name: fadeInScreen;
}
.fadeOut {
  animation-name: fadeOut;
}
#richModal .hidden {
	display: none;
}
#richModal .detail-modal h1 {
	font-size: 1.5em;
	margin: 20px 0 0;
	color: #000 !important;
	font-weight: 600;
	padding: 0 10px;
}

#richModal .detail-modal .rich-content {
	padding: 10px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-height: 74vh;
}

#richModal .detail-modal .rich-content,
#richModal .detail-modal .rich-content h1,
#richModal .detail-modal .rich-content h2,
#richModal .detail-modal .rich-content h3,
#richModal .detail-modal .rich-content h4,
#richModal .detail-modal .rich-content h5,
#richModal .detail-modal .rich-content h6,
#richModal .detail-modal .rich-content p {
	color: #222;
}

#richModal .detail-modal .rich-content {
	  overflow-wrap: break-word;
}

#richModal .detail-modal span.subtitle {
	font-size: .92em;
  display: block;
  margin: 0 0;
  padding: 0 10px 15px;
  box-shadow: 0 7px 14px rgba(0,0,0,0.05);
  color: #777 !important;
}

#richModal .detail-modal .button-container {
	display: block;
	margin-top: 10px;
	border-top: 1px solid #f2f2f2;
}

#richModal .detail-modal button {
	width: 50%;
	display: inline-block;
	padding: 10px 0;
}

#richModal .detail-modal button.dismiss-button {
	color: #999999;
	border: none;
	background: #fff;
	border-right: 1px solid #f2f2f2;
}

#richModal .detail-modal button.dismiss-button.dismiss-large {
	width: 100%;
	border-right: none;
}

#richModal,
#richModal .detail-modal,
#richModal, .detail-modal button {
	-webkit-tap-highlight-color: transparent;
}

#richModal .detail-modal button.action-button {
	color: #2080fb;
	border: none;
	background: #fff;
}

.item-disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
#pluginNav {
	user-select: none !important;
}

#inputDialog {
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1050;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#inputDialog.active {
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#inputDialog .inputapi-nav {
	padding-top: env(safe-area-inset-top);
	padding-top: const(safe-area-inset-top);
	border-botom: 1px solid rgba(128, 128, 128, 0.2);
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	position: relative;
  z-index: 10;
  background-color: #2e3441;
}

#inputDialog {
	display: flex;
	flex-direction: column;
}

#inputDialog .inputapi-nav-flex {
	padding: 0 0;
}

#inputDialog .inputapi-nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#inputDialog .inputapi-cancel {
	font-size: 1.1em;
	padding: 15px;
	cursor: pointer;
	width: 100px;
  color: #f0f0f0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#inputDialog .inputapi-done {
	font-size: 1.1em;
	padding: 15px;
	cursor: pointer;
	width: 100px;
	text-align: right;
  color: #f0f0f0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#inputDialog .inputapi-done:disabled {
	opacity: 0.5;
}

#inputDialog .inputapi-user-container {
	display: flex;
	padding-bottom: 10px;
}

#inputDialog .inputapi-user-image {
    width: 50px;
    height: 50px;
    margin: 15px 0 0 15px;
    border-radius: 100%;
    background-color: #555;
}

#inputDialog .inputapi-user-title {
    font-size: 1.3em;
    padding-top: 10px;
    margin-left: 10px;
}

#inputDialog .inputapi-nav-title {
	font-size: 1.4em;
	font-size: 19px;
	text-align: center;
	margin: 0;
  color: #f0f0f0;
}

#inputDialog .inputapi-textarea {
	background: transparent;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  display: block;
  width: 100%;
  flex-grow: 1;
  resize: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#inputDialog .inputapi-footer {
	display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: flex-end;
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: const(safe-area-inset-bottom);
}

#inputDialog .inputapi-footer span {
    font-size: 28px;
}

#inputDialog .galery-delete {
	position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: white !important;
}

#inputDialog .glyphicon-plus {
	font-size: 30px;
  padding: 38px;
  color: rgba(100,100,100,0.2) !important;
}

#inputDialog .img-gallery-container {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 5px;
	overflow: hidden;
	flex: 0 0 auto;
	background-color: rgba(0,0,0,0.1);
}

#inputDialog #imageGallery {
	display: flex;
	width: 100vw;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 5px;
}

#inputDialog .inputapi-footer {
	height: 50px;
	box-sizing: content-box;
	border-top: 1px solid rgba(128, 128, 128, 0.15);
	background-color: rgba(128, 128, 128, 0.1);
}

.iap-items {
	padding: 20px 0;
}

.iap-action-items {
	margin: 20px 0;
}

.iap-action-items a {
	min-width: 70px;
  min-height: 34px;
}

.restore-purchase {
	padding-top: 15px;
	text-align: center;
	display: block;
}

.restore-purchase a {
	text-align: center;
	display: block;
	width: 100%;
	padding: 5px 0;
}

.restore-purchase a.secondary {
	font-size: 0.9em;
}

.bf-carousel {
  display: flex;
  overflow-x: auto;
  box-sizing: border-box !important;
  -webkit-overflow-scrolling: touch;
}

.bf-carousel::-webkit-scrollbar {
  display: none;
}

.bf-carousel-item-wrapper {
  padding: 10px 5px;
  box-sizing: border-box !important;
}

.bf-carousel-item-wrapper:first-child {
  padding-left: 10px;
}

.bf-carousel-item-wrapper:last-child {
  padding-right: 10px;
}

.bf-carousel-item {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  max-width: 50vw;
  height: 50vw;
  padding: 15px 10px 0 10px;
  border-radius: 5px;
  box-sizing: border-box !important;
  color: #fff;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.bf-carousel-item .callout {
	font-weight: 800;
	white-space: nowrap;
	overflow: hidden;
}

.bf-carousel-item .titles {
  display: flex;
  flex-direction: column;
}
.bf-carousel-item .title {
  font-size: 6.5vw;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
}
.bf-carousel-item .subtitle {
  font-size: 4vw;
}
.bf-carousel-item .description {
  font-size: 3.5vw;
  word-break: break-word;
}

.bf-carousel-item .description-wrapper {
  height: 14vw;
  overflow: hidden;
  line-height: 1em;
}

.js_frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.js_slides {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.js_slides li {
    position: relative;
    display: inline-block;
}

.js_slides img {
	display: block;
	max-width: 100%;
	pointer-events: none;
}

#iap-wysiwyg {
	padding: 0 20px;
}

#iap-wysiwyg h1 {
	margin: 20px 0 !important;
}

.iap-safe-padding {
	padding-top: 20vh;
}

.iap-subscriptions:not(.iapMessage) #iap-wysiwyg h1,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg h2,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg h3,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg h4,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg h5,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg h6,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg p,
.iap-subscriptions:not(.iapMessage) #iap-wysiwyg span {
	color: #222 !important;
	word-break: break-word;
}

/** Lory */
.loryFrame {position: relative;font-size: 0; line-height: 0; overflow: hidden; white-space: nowrap;}
.loryFrame li { position: relative; display: inline-block; height: 100%;}
.lorySlides { display: inline-block;}
.loryPercentage .lorySlides { display: block; padding: 0px;}
.loryPercentage li {  width: 100%;}

.bookmark-item-link {
	display: block;
	border-bottom: 1px solid #dedede;
}
