#inputDialog,
#gifDialog {
	display: flex;
	flex-direction: column;
	opacity: 0;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1050;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
#inputDialog .input-dialog-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#gifDialog {
	z-index: 1150 !important;
}

#inputDialog *:not(input, textarea),
#gifDialog *:not(input) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#inputDialog.active,
#gifDialog.active {
	opacity: 1;
	display: flex !important;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#inputDialog .inputapi-nav,
#gifDialog .gifapi-nav {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 10;
	background-color: #2e3441;
}

html[ios='true'][view='app'][storyboard-launch-images='true'] #gifDialog .gifapi-nav,
html[ios='true'][view='app'][storyboard-launch-images='true'] #inputDialog .inputapi-nav {
	padding-top: calc(env(safe-area-inset-top)) !important;
	padding-top: calc(const(safe-area-inset-top)) !important;
}

#gifDialog .gifapi-nav {
	padding-right: 13px;
	padding-top: 20px;
	padding-bottom: 17px;
}

#inputDialog .inputapi-nav-flex,
#gifDialog .gifapi-nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0;
}

#gifDialog .gifapi-nav-flex form {
	width: 100%;
	position: relative;
}

#gifDialog .gifapi-nav-flex form .gif-search-input {
	border: 0;
	border-radius: 8px;
	padding: 0.5em 2.6em;
	height: auto;
	font-size: 14px;
	padding-left: 40px;
	opacity: 0.5;
}

#gifDialog .gifapi-nav-flex form .search-icon {
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	padding: 0 12px;
	font-size: 14px;
	pointer-events: none;
	opacity: 1;
}

#gifDialog .gif-results {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	padding: 0px !important;
}
#gifDialog .gif-results .gif-container {
	height: 150px;
	position: relative;
}
#gifDialog .gif-results .gif_row {
	display: flex;
}
#gifDialog .gif-results .gif-thumbnail {
	pointer-events: none;
	height: 100%;
	background-size: cover;
	background-position: center;
}

#gifDialog .gif-results .gif-container.selected::after {
	content: '';
	display: block;
	width: 100%;
	background: #fff;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0.3;
}
#gifDialog .gif-results .gif-container.selected span::after {
	content: '\e013';
	font-family: 'Glyphicons Halflings';
	opacity: 1;
	font-style: normal;
	display: inline-block;
	position: absolute;
	color: #14cb5d;
	margin-left: 16px;
}

#inputDialog .inputapi-textarea,
#gifDialog .gif-results {
	background: transparent;
	border: none;
	padding: 15px;
	font-size: 1.2em;
	display: block;
	width: 100%;
	flex-grow: 1;
	resize: none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#inputDialog .inputapi-cancel {
	font-size: 1.1em;
	padding: 15px;
	cursor: pointer;
	width: 100px;
	text-align: left;
	color: #f0f0f0;
	background-color: transparent;
	border: none;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

#gifDialog .gifapi-cancel {
	font-size: 1.1em;
	padding: 13px;
}

#inputDialog .inputapi-done,
#gifDialog .gifapi-done {
	font-size: 1.1em;
	padding: 15px;
	cursor: pointer;
	width: 100px;
	text-align: right;
	color: #f0f0f0;
	background-color: transparent;
	border: none;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

#inputDialog .inputapi-done:disabled,
#gifDialog .gifapi-done:disabled {
	opacity: 0.5;
}

#inputDialog .inputapi-user-container {
	display: flex;
	padding-bottom: 10px;
}

#inputDialog .inputapi-user-image {
	width: 50px;
	height: 50px;
	margin: 15px 0 0 15px;
	border-radius: 100%;
	background-color: #555;
}

#inputDialog .inputapi-user-title {
	font-size: 1.3em;
	padding-top: 10px;
	margin-left: 10px;
}

#inputDialog .inputapi-nav-title,
#gifDialog .gifapi-nav-title {
	font-size: 1.4em;
	font-size: 19px;
	padding: 15px;
	text-align: center;
	margin: 0;
	color: #f0f0f0;
}

#gifDialog .gifapi-nav-title {
	font-size: 16px;
}

#inputDialog .inputapi-footer {
	display: flex;
	align-items: center;
	padding: 0 30px;
	justify-content: flex-end;
	padding-bottom: env(safe-area-inset-bottom);
	padding-bottom: const(safe-area-inset-bottom);
}

#inputDialog .inputapi-footer span {
	font-size: 28px;
	margin: -7px 5px;
	padding: 7px;
}

#inputDialog #gif-btn {
	margin: -7px 5px;
	padding: 7px;
	box-sizing: content-box;
}

#inputDialog .inputapi-footer span.disabled,
#inputDialog .inputapi-footer img.disabled {
	opacity: 0.5;
	pointer-events: none;
}

#inputDialog .galery-delete {
	position: absolute;
	top: -1rem;
	right: -1rem;
	padding: 5px;
	color: red !important;
	font-size: 1.75rem;
}

#inputDialog .glyphicon-plus {
	font-size: 30px;
	padding: 38px;
	color: rgba(100, 100, 100, 0.2) !important;
}

#inputDialog .img-gallery-container {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 5px;
	flex: 0 0 auto;
	background-color: rgba(0, 0, 0, 0.1);
}

#inputDialog #imageGallery {
	display: flex;
	width: 100vw;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 5px;
}

#inputDialog .img-gallery-container.gifs {
	background-color: unset !important;
	width: unset !important;
}

#inputDialog .img-gallery-container.gifs img {
	height: 100%;
}

#inputDialog .inputapi-footer {
	height: 50px;
	box-sizing: content-box;
	border-top: 1px solid rgba(128, 128, 128, 0.15);
	background-color: rgba(128, 128, 128, 0.1);
}

#gifDialog .powered-by {
	background: black;
}

#gifDialog .gifDialog-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#gifDialog .powered-by img {
	margin: 0 auto;
	display: block;
	padding-bottom: env(safe-area-inset-bottom);
	padding-bottom: constant(safe-area-inset-bottom);
}

#input-backdrop,
#gif-backdrop {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99999999;
}

#gif-backdrop {
	background: transparent;
}

[type='app'] #inputDialog .inputapi-nav-flex button .btn-txt.secondary {
	display: none !important;
}
[type='app'] #inputDialog .inputapi-nav-flex button .btn-txt.primary {
	display: block !important;
}

[type='app'] #inputDialog .secondary {
	display: none !important;
}

@media (min-width: 1200px) {
	/* Input Dialog */
	[type='app'] #inputDialog {
		z-index: 999999999 !important;
	}
	[type='app'] #gifDialog {
		z-index: 9999999999 !important;
		padding-top: calc(68px + 8px);
		padding-bottom: 16px;
		pointer-events: none;
		background-color: transparent !important;
	}
	[type='app'] #gifDialog .gifDialog-container {
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 0 4px 16px rgba(50, 50, 50, 0.3);
		pointer-events: auto;
	}
	[type='app'] #inputDialog {
		background-color: transparent;
		pointer-events: none;
	}
	[type='app'] #inputDialog .input-dialog-container {
		height: auto;
		pointer-events: auto;
		position: relative;
		border-radius: 8px;
		box-shadow: 0 4px 16px rgba(50, 50, 50, 0.3);
		margin-top: 8px;
		overflow: hidden;
	}
	[type='app'] #inputDialog .inputapi-nav:not(.secondary) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	[type='app'] .inputapi-nav.titleBarBackgroundTheme:not(.secondary) {
		background-color: transparent !important;
		background: transparent !important;
	}
	[type='app'] #inputDialog .inputapi-nav-flex {
		justify-content: flex-end;
		padding: 0 8px;
	}
	[type='app'] #inputDialog .inputapi-nav,
	[type='app'] #inputDialog .inputapi-nav-flex {
		pointer-events: none;
	}
	[type='app'] #inputDialog .inputapi-nav-flex button {
		pointer-events: auto;
		width: auto;
	}
	[type='app'] #inputDialog .inputapi-nav-flex button .btn-txt.secondary {
		display: block !important;
	}
	[type='app'] #inputDialog .inputapi-nav-flex button .btn-txt.primary {
		display: none !important;
	}
	[type='app'] #inputDialog .inputapi-textarea {
		border: 1px solid rgba(150, 150, 150, 0.3);
		border-radius: 4px;
		margin: 16px 16px 0 16px;
		width: calc(100% - 32px);
		display: block;
		font-size: 1em;
		font-weight: normal;
		min-height: 200px;
		max-height: 400px;
		resize: vertical;
	}
	[type='app'] #inputDialog .inputapi-footer {
		padding: 0 8px;
		justify-content: flex-start;
		display: flex !important;
	}
	[type='app'] #inputDialog .inputapi-footer span {
		cursor: pointer;
	}
	[type='app'] #inputDialog #imageGallery {
		padding: 11px;
	}
	[type='app'] #inputDialog #imageGallery img {
		border-radius: 4px;
	}
	[type='app'] #input-backdrop.active,
	[type='app'] #gif-backdrop.active {
		display: block !important;
	}

	[type='app'] #inputDialog .inputapi-nav-title,
	[type='app'] #gifDialog .gifapi-nav-title {
		display: none !important;
	}

	[type='app'] h1.inputapi-nav-title.secondary:empty {
		display: none !important;
		padding: 0 !important;
	}

	[type='app'] #inputDialog .inputapi-nav.secondary,
	[type='app'] #inputDialog .inputapi-nav.secondary * {
		display: flex !important;
		justify-content: center;
	}
}

#input-backdrop.active.isDialog {
	display: block !important;
}

#listDialog {
	font-size: 16px;
	top: 0;
	right: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	z-index: 9999999999;
	pointer-events: none;
}

#listDialog .body {
	width: 80%;
	font-size: 16px;
	background-color: #fff;
	border-radius: 0.5em;
	pointer-events: all;
}

#listDialog.active {
	display: flex !important;
}

#listDialog .input-list {
	font-size: 16px;
}

#listDialog .list-header {
	margin-top: 0;
	line-height: normal;
	font-size: 20px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: .0125em;
	display: block;
	margin: 0;
	padding: 16px 16px 8px 16px;
}

#listDialog .button-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 8px;
}

#listDialog .button-container button {
	padding: 8px 12px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.05em;
	min-height: 36px;
	text-align: right;
	margin-left: 8px;
	border-radius: 4px;
	border: none;
}

.input-list [type='radio'] {
	position: absolute;
	opacity: 0;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
}
.input-list [type='radio'] + label {
	word-break: break-word;
	position: relative;
	padding: 1em;
	padding-left: 3.5em;
	cursor: pointer;
	display: block;
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;
}
.input-list [type='radio'] + label:hover {
	background-color: rgba(150, 150, 150, 0.05);
}
.input-list .selector {
	background-color: blue;
	position: absolute;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	left: 1.25em;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 0.2s ease-in-out;
}
.input-list .selector::before {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	display: block;
	border-radius: 50%;
	border: 2px solid rgba(128, 128, 128, 0.5);
	left: -4px;
	top: 50%;
	transform: translateY(-50%);
}
.input-list [type='radio']:not(:checked) + label .selector {
	background-color: transparent !important;
	transform: translateY(-50%);
}

.input-list.checkbox-list {
	font-size: 16px;
}
.input-list.checkbox-list [type='checkbox'] {
	position: absolute;
	opacity: 0;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
}
.input-list.checkbox-list [type='checkbox'] + label {
	word-break: break-word;
	position: relative;
	padding: 16px;
	padding-left: 3.5em;
	cursor: pointer;
	display: block;
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;
}
.input-list.checkbox-list [type='checkbox'] + label:hover {
	background-color: rgba(150, 150, 150, 0.05);
}
.input-list.checkbox-list .selector {
	position: absolute;
	width: 18px;
	height: 18px;
	display: block;
	border-radius: 4px;
	left: 16px;
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 0.2s ease-in-out;
	color: #fff;
	font-family: 'Glyphicons Halflings' !important;
}
.input-list.checkbox-list .selector::before {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	display: block;
	border-radius: 4px;
	border: 2px solid rgba(128, 128, 128, 0.5);
	left: 0;
	top: 0;
	top: 50%;
	transform: translateY(-50%);
}
.input-list.checkbox-list [type='checkbox']:checked + label .selector::before {
	border-color: transparent;
}
.input-list.checkbox-list [type='checkbox']:checked + label .selector::after {
	content: '\e013';
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.input-list.checkbox-list [type='checkbox']:not(:checked) + label .selector {
	background-color: transparent !important;
	transform: translateY(-50%);
}