<div ng-controller="settingsCtrl">
    <div class="header clearfix">
        <h4 class="margin-zero">Settings</h4>
    </div>
    <div class="layout padded clearfix">
    	<form role="form" class="ng-pristine ng-valid">
        	<div class="item clearfix row">
	        	<div class="labels col-md-3 padding-right-zero pull-left">
	            	<span>App ID</span>
	           	</div>
	           	<div class="main col-md-9 pull-right">
	              	<input class="form-control ng-pristine ng-untouched ng-valid" ng-model="appContext.currentApp.appId" placeholder="App id" max-length="50">
	           	</div>
	       	</div>
			<hr class="none">
	       	<div class="item clearfix row">
	         	<div class="labels col-md-3 padding-right-zero pull-left">
	            	<span>Datastore Write Key</span>
	           	</div>
	           	<div class="main col-md-9 pull-right">
	              	<input class="form-control ng-pristine ng-untouched ng-valid" ng-model="appContext.currentApp.keys.datastoreKey" placeholder="write key" max-length="50">
	           	</div>
	       	</div>
     	</form>
  	</div>
</div>