<div ng-controller="shellCtrl">
    <div class="header clearfix">
        <h4 class="margin-zero">Plugin</h4>
        <input class="plugin-input margin-left-fifteen border-none border-radius-four" type="text" ng-cloak ng-model="navToValue" ng-keypress="navTo($event);" placeholder="Plugin Name">
        <a href="#/login" ng-hide="currentUser" class="pull-right">Login</a>
        <a href="#/logout" ng-show="currentUser" class="pull-right">Logout</a>
    </div>
    <div class="layout padded clearfix">
        <div class="item clearfix row">
            <ol class="breadcrumb labels col-md-12 padding-right-zero pull-left">
                <li ng-repeat="breadcrumb in breadcrumbs" ng-class="{'active':$last}">
                    <a ng-if="!$last" href="" ng-click="popHistoryItem($event, breadcrumb)">{{breadcrumb.label}}</a>
                    <span class="ellipsis" ng-if="$last" ng-bind="breadcrumb.label"></span>
                </li>
            </ol>
        </div>
        <ul class="nav nav-tabs nav-justified">
            <li ng-if="contentSrc">
                <a id="btnLoadContent" class="active" ng-click="loadIFrame('content',$event)">Content</a>
            </li>
            <li ng-if="designSrc">
                <a id="btnLoadDesign" ng-click="loadIFrame('design',$event)">Design</a>
            </li>
            <li ng-if="settingsSrc">
                <a id="btnLoadSettings" ng-click="loadIFrame('settings',$event)">Settings</a>
            </li>
            <li ng-repeat="tab in customTabs">
                <a ng-click="loadCustomTab(tab,$event)">{{tab.title}}</a>
            </li>
        </ul>
        <iframe ng-show="pluginControlIframeVisible"  id="iframeControl" sandbox="allow-scripts allow-forms  allow-same-origin allow-popups"
                ng-src="{{currentControl}}"></iframe>
        <iframe ng-hide="pluginControlIframeVisible" class="non-control-iframe" id="iframeNonControl" sandbox="allow-scripts allow-forms  allow-same-origin allow-popups"
                ng-src="{{currentNonControl}}"></iframe>
    </div>
</div>