*{
	outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:Helvetica, Sans-Serif;
}
html,
body{
	font-family:Helvetica, Sans-Serif;
	font-weight:100;
	color:#5f5f5f;
	height:100%;
    margin:0px;
	overflow-x:hidden;
	-ms-overflow-style:none;
}
::-webkit-scrollbar{
    display:none;
}
img,
iframe, 
object{
	max-width:100%;
	vertical-align:top;
}
iframe{
	border:none;
	outline:none;
	width:100%;
}
ul,
ol{
	padding:0;
	margin:0;
}
ul li,
ol li{
	list-style:none;
}
textarea{
	overflow:auto;
}

.holder{
	margin-top:50px;
	padding:15px;
}
.padded{
	padding:15px;
}

/* Launcher Plugin */
#launcherPlugin{
	border:none;
	height:100%;
	width:100%;
}

/* Plugin Nav */
#pluginNav{
    height:auto !important;
	background:#09a3ee;
	padding:14px 10px;
	border-bottom:none;
	margin-bottom:0;
}
#pluginNav a.back-btn-icon,
#pluginNav a.menu-btn-icon{
	position:absolute;
	top:17px;
	left:10px;
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	cursor:default;
}
#pluginNav a.menu-btn-icon{
	left:auto;
	right:10px;
	font-size:21px;
	top:14px;
}
#pluginNav h4,
#pluginNav h5{
	text-align:center;
	color:#fff;
	margin:0 auto;
	max-width:65%;
	font-size:16px;
	line-height:19px;
	position:relative;
	top:3px;
	font-weight:100;
}

/* Menu */
nav.menu{
	position:absolute;
	right:0;
	top:0;
	width:100%;
	min-width:100%;
	background:#32373a;
	height:100%;
	z-index:1199;
	overflow-x:hidden;
	overflow-y:auto;
	transition:all 0.35s ease;
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
}
nav.menu.active{
	-webkit-transform:translateY(0%);
	transform:translateY(0%);
}
nav.menu a{
	display:block;
	width:100%;
	padding:12px;
	color:#a6abba;
	text-decoration:none;
}
nav.menu a + a{
	border-top:1px solid #26282b;
}
nav.menu a.username{
	padding-top:15px;
	padding-bottom:14px;
}
nav.menu a.divider{
	background:#26282b;
	padding-top:6px;
	padding-bottom:6px;
}
nav.menu a .media{
	display:inline-block;
	width:22px;
	height:22px;
	line-height:22px;
	margin-right:12px;
	text-align:center;
}
nav.menu a .media img{
	vertical-align:middle;
	max-width:22px;
	max-height:22px;
	height:auto;
	width:auto;
}
nav.menu a p{
	margin:3px 0 0;
	max-width:100%;
	font-size:13px;
	line-height:18px;
}

/* People Plugin */
.people-banner .people-media img{
	max-width:140px;
	max-height:140px;
}
.people-plugin .people-info{
	position:relative;
}
.people-plugin .people-info .icon{
	color:#09a3ee;
	font-size:24px;
	vertical-align:top;
}
.people-plugin.layout1 .people-info .icon-holder{
	position:absolute;
	height:24px;
	display:inline-block;
	top:50%;
	margin-top:-5px;
	right:15px;
}
.people-plugin.layout2 .people-banner .people-bg{
	background:rgba(0, 0, 0, 0.8);
	padding:35px 0 !important;
}
.people-plugin.layout2 .people-banner .people-holder{
	max-width:400px;
	margin:0 auto;
	padding:0 15px;
}
.people-plugin.layout2 .people-banner .people-media{
	float:left;
	max-width:100px;
}
.people-plugin.layout2 .people-banner .people-media img{
	max-width:100%;
	height:auto;
}
.people-plugin.layout2 .people-banner .people-info{
	float:left;
	width:62%;
	padding-right:0;
	padding-top:4px;
	text-align:left !important;
	color:#fff;
}
.people-plugin.layout3 .people-banner{
	background:#fff;
}
.people-plugin.layout3 .people-banner .people-bg{
	padding:0 !important;
	position:relative;
}
.people-plugin.layout3 .people-banner .people-media{
	width:140px;
	position:absolute;
	left:0;
	top:0;
}
.people-plugin.layout3 .people-banner .people-media img{
	width:100%;
	border-radius:0;
	border:none;
	max-width:inherit;
	max-height:inherit;
}
.people-plugin.layout3 .people-banner .people-info{
	width:100%;
	padding-left:155px;
	float:left;
	height:140px;
	margin-top:0 !important;
	padding-top:24px;
	text-align:left !important;
}
.people-plugin.layout4 .people-banner .people-bg{
	background:rgba(255, 255, 255, 0.9);
}

.plugin-slider,
.plugin-slide,
.contact-maps{
	max-height:380px;
	background:#eef0f0;
	background:#32373a;
}
.contact-maps{
	background:#32373a;
}
.plugin-slide img,
.contact-maps img{
	max-height:380px;
	width:auto !important;
	margin:0 auto;
}
.contact-plugin.layout2 .contact-maps{
	position:relative;
}
.contact-plugin.layout2 .contact-maps .contact-address{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	opacity:0.85;
}
.contact-plugin.layout2 .plugin-slider .plugin-slide{
	background:none;
}
.contact-plugin.layout2 .plugin-slider, 
.contact-plugin.layout2 .plugin-slider .contact-slide{
	max-height:100px;
	background:none;
}

/* Media Center */
.media-center-plugin.layout2 .people-banner .people-bg{
	background:rgba(0,0,0,0.8);
}
.media-center-plugin.layout2 .people-banner .people-info{
	color:#fff;
}

/* Link Items */
.link-list{
	padding-top:2px;
}
.link-list a + a{
	margin-left:10px;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
.list-items .list-item + .list-item{
	border-top:1px solid #ddd;
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item{
	padding-left:15px;
	padding-right:1%;
}
.layout1 .list-layout .list-item + .list-item{
	padding-left:1%;
	padding-right:15px;
}
.list-layout .list-item-media{
	background:#eef0f0;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
	max-width:240px;
}
.layout4 .list-layout .list-item-media .list-media-holder{
	max-width:200px;
}
.list-layout .list-item-copy{
	padding:10px 0;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	border-top:1px solid #ddd;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	max-width:120px;
	margin:inherit;
	margin-right:10px;
}
.layout3 .list-layout .list-item{
	padding:0;
	border-bottom:1px solid #ddd;
}
.layout3 .list-layout .list-item-copy{
	padding:6px 10px;
}

/* Play Btn */
.play-btn{
	position:relative;
}
.play-btn:after{
	content:"\e606";
	font-family:'icomoon';
	position:absolute;
	width:30px;
	height:26px;
	color:#fff;	
	font-size:30px;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-15px;
}
.list-item-media .list-media-holder.play-btn:after{
	font-size:24px;
	width:24px;
	margin-left:-12px;
	margin-top:-12px;
}

/* Dynamic Links */
.dynamic-links{
	border-top:1px solid #ddd;
}
.dynamic-links a{
	display:block;
	width:100%;
	border-bottom:1px solid #ddd;
	padding:10px 0;
}

/* iFrame */
/* Plugin iFrame */
#iframeControl,
#controlIFrame,
#pluginFrame{
	width:100%;
	min-width:100%;
	max-width:100%;
	min-height:600px;
}
html[buildfire],
html[buildfire] body{
	width:100%;
	min-width:100%;
	max-width:100%;
	background:none;
	overflow-x:hidden;
}