*{
	outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:Helvetica, Sans-Serif;
}
html,
body{
	font-family:Helvetica, Sans-Serif;
	font-weight:100;
	color:#5f5f5f;
	height:100%;
    margin:0px;
	/*overflow:hidden;*/
	-ms-overflow-style:none;
}
::-webkit-scrollbar{
    display:none;
}
img,
iframe, 
object{
	max-width:100%;
	vertical-align:top;
}
iframe{
	border:none;
	outline:none;
	width:100%;
}
ul,
ol{
	padding:0;
	margin:0;
}
ul li,
ol li{
	list-style:none;
}
textarea{
	overflow:auto;
}

.holder{
	padding:15px;
}
.padded{
	padding:15px;
}
.holder .btn.dropdown-toggle{
	width:100%;
}

/* Bottom */
.holder.has-bottom{
	padding-bottom:38px !important;
}
.holder .bottom.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
}
.holder .bottom div{
	padding:0;
}
.holder .bottom div a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:8px;
	text-decoration:none;
}

/* Launcher Plugin */
#launcherPlugin{
	border:none;
	height:100%;
	width:100%;
}

/* Plugin Nav */
#pluginNav{
    height:auto !important;
	background:#09a3ee;
	padding:14px 10px;
	border-bottom:none;
	margin-bottom:0;
}
#pluginNav a.back-btn-icon,
#pluginNav a.menu-btn-icon{
	position:absolute;
	top:17px;
	left:10px;
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	cursor:default;
}
#pluginNav a.menu-btn-icon{
	left:auto;
	right:10px;
	font-size:21px;
	top:14px;
}
#pluginNav h4,
#pluginNav h5{
	text-align:center;
	color:#fff;
	margin:0 auto;
	max-width:65%;
	font-size:16px;
	line-height:19px;
	position:relative;
	top:3px;
	font-weight:100;
}

/* Menu Toggle */
#menuToggle{
	border-radius:5px 0 0 5px;
	font-size:21px;
	padding:8px 10px 4px;
	position:fixed;
	top:6px;
	right:0;
	z-index:9999999;
}
#menuToggle span.icon{
	font-size:21px;
}

/* Menu */
nav.menu{
	position:absolute;
	right:0;
	top:0;
	width:100%;
	height:100%;
	z-index:99999999;
	overflow-x:hidden;
	overflow-y:auto;
	transition:all 0.35s ease;
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
}
nav.menu.active{
	-webkit-transform:translateY(0%);
	transform:translateY(0%);
}
nav.menu a{
	display:block;
	width:100%;
	padding:12px;
	text-decoration:none;
}
nav.menu a.username{
	padding-top:15px;
	padding-bottom:14px;
	padding-right:37px;
}
nav.menu span.menu-close{
	position:absolute;
	top:19px;
	right:12px;
	font-size:13px;
	font-weight:600;
	cursor:pointer;
}
nav.menu a.divider{
	padding-top:6px;
	padding-bottom:6px;
	border-top:none !important;
}
nav.menu a .media{
	display:inline-block;
	width:22px;
	height:22px;
	line-height:22px;
	margin-right:12px;
	text-align:center;
}
nav.menu a .media img{
	vertical-align:middle;
	max-width:22px;
	max-height:22px;
	height:auto;
	width:auto;
	border-radius:2px;
}
nav.menu a p{
	margin:3px 0 0;
	max-width:100%;
	font-size:13px;
	line-height:18px;
}

/* People Plugin */
.people-banner .people-media img{
	max-width:140px;
	max-height:140px;
}
.people-plugin .people-info{
	position:relative;
}
.people-plugin .people-info .icon{
	color:#09a3ee;
	font-size:24px;
	vertical-align:top;
}
.people-plugin.layout1 .people-info .icon-holder{
	position:absolute;
	height:24px;
	display:inline-block;
	top:50%;
	margin-top:-5px;
	right:15px;
}
.people-plugin.layout2 .people-banner .people-bg{
	background:rgba(0, 0, 0, 0.8);
	padding:35px 0 !important;
}
.people-plugin.layout2 .people-banner .people-holder{
	max-width:400px;
	margin:0 auto;
	padding:0 15px;
}
.people-plugin.layout2 .people-banner .people-media{
	float:left;
	max-width:100px;
}
.people-plugin.layout2 .people-banner .people-media img{
	max-width:100%;
	height:auto;
}
.people-plugin.layout2 .people-banner .people-info{
	float:left;
	width:62%;
	padding-right:0;
	padding-top:4px;
	text-align:left !important;
	color:#fff;
}
.people-plugin.layout3 .people-banner{
	background:#fff;
}
.people-plugin.layout3 .people-banner .people-bg{
	padding:0 !important;
	position:relative;
}
.people-plugin.layout3 .people-banner .people-media{
	width:140px;
	position:absolute;
	left:0;
	top:0;
}
.people-plugin.layout3 .people-banner .people-media img{
	width:100%;
	border-radius:0;
	border:none;
	max-width:inherit;
	max-height:inherit;
}
.people-plugin.layout3 .people-banner .people-info{
	width:100%;
	padding-left:155px;
	float:left;
	height:140px;
	margin-top:0 !important;
	padding-top:24px;
	text-align:left !important;
}
.people-plugin.layout4 .people-banner .people-bg{
	background:rgba(255, 255, 255, 0.9);
}

.plugin-slider,
.plugin-slide,
.contact-maps{
	max-height:380px;
	background:#eef0f0;
	background:#32373a;
}
.contact-maps{
	background:#32373a;
}
.plugin-slide img,
.contact-maps img{
	max-height:380px;
	width:auto !important;
	margin:0 auto;
}
.contact-plugin.layout2 .contact-maps{
	position:relative;
}
.contact-plugin.layout2 .plugin-slider .plugin-slide{
	background:none;
}
.contact-plugin.layout2 .plugin-slider, 
.contact-plugin.layout2 .plugin-slider .contact-slide{
	max-height:100px;
	background:none;
}
.thumbnail-slider .thumbnail-slide img{
	max-width:100%;
}

.holder .plugin-banner{
	position:relative;
}
.holder .info-bar{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	opacity:0.85;
	z-index:9;
}
.holder .info-bar .right-icon{
	margin-top:7px;
}
.holder .info-bar .pull-right .padded-icon{
	padding:5px;
	display:inline-block;
	width:30px;
	height:30px;
}
.holder .info-bar .pull-right span.icon{
	font-size:24px;
	vertical-align:middle;
}
.holder .info-bar .pull-right.padded-icon span.icon{
	font-size:18px;
	vertical-align:middle;
}

/* Media Center */
.media-center-plugin.layout2 .people-banner .people-bg{
	background:rgba(0,0,0,0.8);
}
.media-center-plugin.layout2 .people-banner .people-info{
	color:#fff;
}

/* Link Items */
.link-list{
	padding-top:2px;
}
.link-list a + a{
	margin-left:10px;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
.list-items .list-item + .list-item{
	border-top:1px solid #ddd;
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item{
	padding-left:15px;
	padding-right:8px;
}
.list-layout .list-item + .list-item{
	padding-left:8px;
	padding-right:15px;
}
.list-layout .list-item-media{
	background:#eef0f0;
	position:relative;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
	max-width:240px;
}
.layout4 .list-layout .list-item-media .list-media-holder{
	max-width:200px;
}
.list-layout .list-item-copy{
	padding:10px 0;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	border-top:1px solid #ddd;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	width:110px;
	height:60px;
	line-height:58px;
	margin:inherit;
	margin-right:10px;
	background:#efefef;
	border-radius:4px;
	margin:5px 10px 5px 5px;
	text-align:center;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item{
	padding:0;
	border-bottom:1px solid #ddd;
	min-height:71px;
}
.layout3 .list-layout .list-item-copy{
	padding:11px 10px 5px;
}


/* eCommerce */
.shopping-cart .list-layout .list-item-media .list-media-holder.square-icon{
	height:70px;
	width:70px;
	line-height:68px;
}
.shopping-cart .list-layout .list-item-copy{
	
}
.shopping-cart .list-layout .list-item-copy p + p{
	font-size:13px;
	margin-top:-2px !important;
}
.shopping-cart .list-layout .list-item-copy a{
	font-size:13px;
	position:relative;
	top:-2px;
}
.shopping-cart .bottom div{
	padding:6px 10px !important;
}
.shopping-cart .bottom div p{
	font-size:13px;
	line-height:16px;
}
.shopping-cart .bottom div a{
	padding:5px 8px;
	max-width:140px;
}
.ecommerce-plugin .list-layout.has-cart .list-item{
	position:relative;
}
.ecommerce-plugin .list-layout.has-cart .list-item-copy{
	padding-right:88px !important;
}
.list-layout.has-cart .add-to-cart{
	position:absolute;
	top:50%;
	margin-top:-16px;
	right:18px;
}
.holder .list-layout .add-to-cart{
	padding:5px;
	display:inline-block;
	width:32px;
	height:32px;
}
.holder .media-layout .add-to-cart{
	padding:4px;
	width:30px;
	height:30px;
}
.holder .list-layout .add-to-cart .icon,
.holder .media-layout .add-to-cart .icon{
	font-size:18px;
	vertical-align:middle;
}

/* Media Layout */
.media-layout .media-item:nth-child(odd){
	padding-left:15px !important;
	padding-right:7.5px !important;
}
.media-layout .media-item:nth-child(even){
	padding-left:7.5px !important;
	padding-right:15px !important;
}
.media-layout .media-item{
	margin-bottom:15px;
}
.media-layout .media-item .media-holder{
	background:#eef0f0;
	position:relative;
	border-radius:3px 3px 0 0;
	overflow:hidden;
}
.media-layout .media-item .media-copy{
	border-radius:0 0 3px 3px;
	padding:6px 10px;
}
.media-layout .media-item .media-holder .media-img-holder{
	max-width:450px;
	margin:0 auto;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(odd){
	padding-left:10px !important;
	padding-right:5px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(even){
	padding-left:5px !important;
	padding-right:10px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item{
	margin-bottom:10px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .media-holder .media-img-holder{
	max-width:200px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .info-bar{
	padding:6px 0;
}

/* Media Center - Now Playing */
.holder.now-playing{
	margin-top:0;
	height:100%;
	padding:50px 0 0 !important;
	color:#fff;
}
.holder.now-playing .blurred-image{
	filter:blur(6px) brightness(0.2);
	position:fixed;
	top:-5%;
	left:-5%;
	background:url(http://4.bp.blogspot.com/-8bBgFCVGbpE/TvQU6q_f7qI/AAAAAAAAAEk/b2QtDIIbv4I/s1600/Tycho-Dive.png) no-repeat center center;
	background-size:cover;
	height:110%;
	width:110%;
	z-index:-1;
}
.holder.now-playing .media-center-plugin{
	position:absolute;
	width:280px;
	height:482px;
	top:50%;
	margin-top:-241px;
	left:50%;
	margin-left:-140px;
}
.holder.now-playing .media-holder{
	display:table;
	text-align:center;
	width:260px;
	height:260px;
	max-width:260px;
	max-height:260px;
	margin:0 auto;
}
.holder.now-playing .media-holder .media-inner{
	max-width:260px;
	max-height:260px;	
	display:table-cell;
	vertical-align:middle;
}
.holder.now-playing .media-holder .media-inner img{
	max-width:100%;
	max-height:100%;
}
.holder.now-playing .media-player-info h4,
.holder.now-playing .media-player-info p{
	margin:0;
}
.holder.now-playing .media-player-btns .icon{
	font-size:42px;
}
.holder.now-playing .media-player-btns .icon + .icon{
	margin-left:20px;
}
.holder.now-playing .media-player-btns .icon.icon-main{
	font-size:68px;
	position:relative;
	top:11px;
}

/* Play Btn */
.play-btn{
	position:relative;
}
.play-btn:after{
	content:"\e612";
	font-family:'icomoon';
	position:absolute;
	width:30px;
	height:26px;
	color:#fff;	
	font-size:30px;
	line-height:24px;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-15px;
}
.list-item-media .list-media-holder.play-btn:after{
	font-size:24px;
	width:24px;
	margin-left:-12px;
	margin-top:-12px;
}

/* Dynamic Links */
.dynamic-links{
	border-top:1px solid #ddd;
}
.dynamic-links a{
	display:block;
	width:100%;
	border-bottom:1px solid #ddd;
	padding:10px 0;
}

/* iFrame */
/* Plugin iFrame */
#iframeControl,
#controlIFrame,
#pluginFrame{
	width:100%;
	min-width:100%;
	max-width:100%;
	min-height:600px;
}
html[buildfire],
html[buildfire] body{
	width:100%;
	min-width:100%;
	max-width:100%;
	background:none;
	overflow-x:hidden;
}

/* 767px Screen */
@media(max-width: 767px){
	.ecommerce-plugin.layout3 .media-layout .media-item .media-holder{
		border-radius:0px !important;
	}
	.ecommerce-plugin.layout3 .media-layout .media-item:nth-child(odd),
	.ecommerce-plugin.layout3 .media-layout .media-item:nth-child(even){
		padding:0 !important;
	}
	.ecommerce-plugin.layout3 .media-layout .media-item{
		margin-bottom:0;
	}
	
}

/* Smaller Mobile Screens */
@media(max-height: 500px){
	.holder.now-playing .media-center-plugin{
		height:408px;
		margin-top:-204px;
	}
	.holder.now-playing .media-holder,
	.holder.now-playing .media-holder .media-inner img{
		max-height:200px;
		max-width:200px;
	}
	.holder.now-playing .media-player-btns .icon{
		font-size:32px;
	}
	.holder.now-playing .media-player-btns .icon.icon-main{
		font-size:52px;
	}
}

/* Mobile Landscape Mode */
@media(max-height: 400px){
	.holder.now-playing .media-center-plugin{
		height:208px;
		margin-top:-104px;
	}
	.holder.now-playing .media-holder{
		display:none;
	}
}