*{
	outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:Helvetica, Sans-Serif, Arial;
	
	/* Prevent user selection */
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout: none;
}
/* Prevent user selection on everything except input/textarea */
*:not(input):not(textarea){
	-webkit-user-select: none;
	-khtml-user-select: none;
 	-moz-user-select: none;
   	-ms-user-select: none;
	user-select: none;
}
html,
body{
	font-family:Helvetica, Sans-Serif;
	font-weight:100;
	color:#5f5f5f;
    margin:0px;
	height:100%;
	overflow:hidden !important;
}
html:not([buildfire]){
	overflow:hidden !important;
}
html[view="app"] ::-webkit-scrollbar{
    display:none;
}
img,
iframe, 
object{
	max-width:100%;
	vertical-align:top;
}
img{
	height:auto;
}
iframe{
	border:none;
	outline:none;
	width:100%;
	display:block;
}
.widget-content ul,
textarea{
	overflow:auto;
}
.holder{
	padding:15px;
}
.padded{
	padding:15px;
}
.holder .btn.dropdown-toggle{
	width:100%;
}

/* Plugin Nav */
#pluginNav{
    height:auto !important;
	background:#09a3ee;
	padding:14px 10px;
	border-bottom:none;
	margin-bottom:0;
}
#pluginNav a.back-btn-icon,
#pluginNav a.menu-btn-icon{
	position:absolute;
	top:17px;
	left:10px;
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	cursor:default;
}
#pluginNav a.menu-btn-icon{
	left:auto;
	right:10px;
	font-size:21px;
	top:15px;
}
#pluginNav h4,
#pluginNav h5{
	text-align:center;
	color:#fff;
	margin:0 auto;
	max-width:75%;
	font-size:16px;
	line-height:18px;
	position:relative;
	top:4px;
	font-weight:100;
}
/* Target Webkit browsers for alignment */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#pluginNav h4,
	#pluginNav h5{
		top:3px;
	}
}
#pluginNav #pluginTitle{
	padding:15px;
	margin:-15px auto;
}
#pluginNav #btnBack{
	padding:17px;
	margin:-17px;
}
section .launcherNav{
	display:none;
} 
section.showNav .launcherNav{
	display:block;		
}
section.showNav iframe#launcherPlugin{
	padding-top:49px;
}
section.showNav.hideBack #btnBack{
	display:none;
}
section.showNav #plugin{
	z-index:1030;
}

/* Menu Toggle */
#menuToggle{
	border-radius:5px 0 0 5px;
	font-size:21px;
	padding:4px 10px;
	position:fixed;
	top:11px;
	right:0;
	z-index:1040;
	background:#09a3ee;
	cursor:pointer;
}
#menuToggle span.icon{
	font-size:21px;
	vertical-align:top;
	color:#fff;
}
#menuToggle .notification-circle{
	position:absolute;
	top:8px;
	left:-12px;
	width:22px;
	height:22px;
	text-align:center;
	border-radius:100%;
}
#menuToggle .notification-circle span{
	font-size:10px;
	position:relative;
	top:-2px;
	text-align:center;
}

/* Menu */
#menu{
	position:relative;
}
nav.menu{
	position:fixed;
	right:-100%;
	top:0;
	width:100%;
	height:100%;
	z-index:99999999;
	background:#fff;
	opacity:0.95;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	transition:all 0.35s ease;
}
nav.menu.active{
	opacity:0.95 !important;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}
nav.menu a{
	display:block;
	width:100%;
	padding:10px 12px;
	text-decoration:none;
	position:relative;
}
nav.menu a.username{
	padding-top:15px;
	padding-bottom:14px;
	padding-right:37px;
}
nav.menu a.playing{
	padding:0;
}
nav.menu a.playing .media{
	width:38px;
	height:38px;
	margin:0;
}
nav.menu a.playing .media img{
	border-radius:0;
	max-height:100%;
	max-width:100%;
}
nav.menu a.playing p{
	margin:0;
	max-width:77%;
	padding:11px 10px 9px;
}
nav.menu a.playing span.icon{
	margin:8px 10px 0 0;
	font-size:21px;
}
nav.menu span.menu-close{
	position:absolute;
	top:19px;
	right:12px;
	font-size:13px;
	font-weight:600;
	cursor:pointer;
	z-index:99;
}
nav.menu #sideMenuCloseButton{
    padding:15px;
    margin:-15px;
}
nav.menu a.divider{
	padding-top:2px;
	padding-bottom:4px;
	border-top:none !important;
	background:#efefef;
}
nav.menu a .media{
	display:inline-block;
	width:22px;
	height:22px;
	line-height:20px;
	margin-right:12px;
	text-align:center;
}
nav.menu a .media img{
	vertical-align:middle;
	max-width:22px;
	max-height:22px;
	height:auto;
	width:auto;
	border-radius:2px;
}
nav.menu a .media .main-icon{
	vertical-align:middle;
	font-size:18px;
}
nav.menu a p{
	margin:3px 0 0;
	max-width:100%;
	font-size:13px;
	line-height:18px;
}
nav.menu a.notifications p{
	padding-right:45px;
}
nav.menu a.notifications .notification-circle{
	position:absolute;
	top:13px;
	right:12px;
	height:20px;
	padding:0 7px;
	border-radius:10px;
}
nav.menu a.notifications .notification-circle span{
	color:#fff !important;
	font-size:11px;
	position:relative;
	top:-1px;
}

/* WYSIWYG Content */
.widget-content{
	word-wrap:break-word;
}

/* Slider */
.plugin-slider,
.plugin-slide,
.contact-maps,
.user-profile .plugin-banner{
	max-height:380px;
	position:relative;
}
.plugin-slide.show-map{
	height:320px;
}
.plugin-slide img,
.contact-maps img{
	max-height:380px;
	width:auto !important;
	margin:0 auto;
}
.no-background .plugin-slide{
	background:none;
}

/* Dynamic Links */
.dynamic-links a,
.dynamic-links p{
	display:block;
	width:100%;
	position:relative;
	padding:10px 0;
	margin:0;
}
.dynamic-links a:before,
.dynamic-links p:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.modal-dialog .dynamic-links a:before,
.modal-dialog .dynamic-links p:before{
	opacity:1;
}
.dynamic-links p:hover{
	cursor:pointer;
}
.dynamic-links a img,
.dynamic-links p img{
	width:17px;
	height:auto;
	position:relative;
	top:1px;
	border-radius:2px;
}
.dynamic-links a .icon,
.dynamic-links p .icon{
	font-size:17px;
	margin-right:5px;
	position:relative;
	top:3px;
}

/* Push Notifications */
.push-notifications .push-item{
	display:block;
}
.push-notifications .push-item .ellipsis-two{
	max-height:45px;
	overflow:hidden;
}
.push-notifications .push-item .indicator{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:100%;
	display:none;
}
.push-notifications .push-item .indicator.active{
	display:inline-block;
}

/* User Profile */
.user-profile .edit-profile{
	position:absolute;
	left:0;
	width:100%;
}
.user-profile .edit-profile.done-editing{
	bottom:-27px;
}
.user-profile .edit-profile .inner,
.user-profile .edit-profile .cancel-link{
	max-width:677px;
	padding:10px;
	width:100%;
	margin:0 auto;
}
.user-profile .edit-profile .cancel-link{
	padding:5px 15px 0 0;
}
.user-profile .user-info{
	max-width:677px;
	margin:0 auto;
	padding:0 15px;
	width:100%;
	position:relative;
}
.user-profile .user-info .user-avatar{
	position:absolute;
	top:-60px;
	border-radius:100%;
	border:2px solid #fff;
	overflow:hidden;
	width:120px;
	height:120px;
	background:#32373a;
}
.user-profile .user-info .user-personal{
	padding-left:140px;
}
.user-profile .user-list-items .item{
	padding:4px 0 2px;
	width:100%;
	position:relative;
}
.user-profile .user-list-items .item:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.user-profile .user-list-items .item span{
	font-size:12px;
	line-height:12px;
}
.user-profile .user-list-items .item p{
	margin:-4px 0 0;
}
.user-profile .user-list-items .item:first-child{
	padding-bottom:0;
}
.user-profile .user-list-items .item:first-child:after,
.user-profile .item.location:after,
.user-profile .item.bio:after{
	border-top:none !important;
}
.user-profile .item.location{
	padding-top:0;
	margin-top:-10px;
}
.user-profile .item.location p{
	font-size:12px;
}
.user-profile .user-list-items{
	margin:70px auto 0;
	max-width:677px;
}


/* Edit User Profile */
.user-profile.edit .plugin-slider:after,
.user-profile.edit .user-info .user-avatar:after{
	content:'Upload Cover';
	position:absolute;
	top:37%;
	left:50%;
	margin-left:-32px;
	font-size:12px;
	line-height:16px;
	width:64px;
	text-align:center;
	color:#fff;
}
.user-profile.edit .user-info .user-avatar:after{
	content:'Upload Avatar';
}
.user-profile.edit .user-info .user-avatar .user-media{
	height:100%;
}
.user-profile.edit .plugin-slider:after{
	top:44%;
	font-size:14px;
	line-height:18px;
	width:120px;
	margin-left:-60px;
}
.user-profile.edit .form-control{
	border:none;
	padding:0;
	height:inherit;
	min-height:inherit;
	font-size:14px;
	background:none;
}
.user-profile.edit textarea.form-control{
	min-height:40px;
	resize:none;
}
.user-profile.edit .item.no-span .form-control{
	padding:6px 0;
}

/* iOS Transparent Nav */
html[ios="true"][view="app"] #pluginNav{
	padding-top:27px !important;
	height:61px !important;
}
html[ios="true"][view="app"] #pluginNav a.back-btn-icon{
	top:32px !important;
	padding-bottom:13px !important;
} 
html[ios="true"][view="app"] #pluginNav a.menu-btn-icon{
	top:27px !important;
}
html[ios="true"][view="app"] #pluginNav h4, 
html[ios="true"][view="app"] #pluginNav h5{
	padding-bottom:8px !important;
}
html[ios="true"][view="app"] #menuToggle{
	top:23px !important;
}
html[ios="true"][view="app"] iframe#pluginFrame{
	padding-top:61px !important;
}
html[ios="true"][view="app"] .login-holder .cancel-link{
	top:27px !important;
}
html[ios="true"][view="app"] nav.menu a.username{
	padding-top:26px !important;
}
html[ios="true"][view="app"] nav.menu span.menu-close{
	top:30px !important;
}

/* iFrame */
/* Plugin iFrame */
section .pluginPage,
section .pluginPage #pluginContentPanel,
#iframeControl,
#iframeControl body,
#controlIFrame,
#controlIFrame body,
#pluginFrame,
#launcherPlugin,
html[buildfire]{
	width:100%;
	min-width:100%;
	max-width:100%;
	height:100%;
	background:none;
	overflow:hidden !important;
}
html[buildfire] body{
	height:100% !important;
	width:100% !important;
	overflow-y:auto !important;
	-webkit-overflow-scrolling:touch !important;
}
html[buildfire] body.no-scroll{
	overflow:hidden !important;
	-webkit-overflow-scrolling:inherit !important;
}
html[buildfire] body.no-scroll .scrollable{
	overflow-y:auto !important;
	-webkit-overflow-scrolling:touch !important;
	height:100% !important;
	width:100% !important;
}

/* 767px Screen */
@media(max-width: 767px){

}

/* Smaller Mobile Screens */
@media(max-height: 540px){
	.login-holder .moreoptions{
		margin-top:0 !important;
	}
}

/* Mobile Landscape Mode */
@media(max-height: 470px){
	.login-holder .login.content.padded{
		padding-top:60px !important;
	}
}