.bf-btn-primary {
    color: white !important;
    background-color: var(--bf-theme-primary) !important;
}

.bf-btn-success {
    color: white !important;
    background-color: var(--bf-theme-success) !important;
}

.bf-btn-warning {
    color: white !important;
    background-color: var(--bf-theme-warning) !important;
}

.bf-btn-info {
    color: white !important;
    background-color: var(--bf-theme-info) !important;
}

.bf-btn-default {
    color: white !important;
    background-color: var(--bf-theme-default) !important;
}

.bf-btn-danger {
    color: white !important;
    background-color: var(--bf-theme-danger) !important;
}

.bf-text-primary {
    color: var(--bf-theme-primary) !important;
    cursor: pointer;
    font-family: var(--bf-font-family) !important;
}

.bf-text-success {
    color: var(--bf-theme-success) !important;
    cursor: pointer;
    font-family: var(--bf-font-family) !important;
}

.bf-text-warning {
    color: var(--bf-theme-warning) !important;
    cursor: pointer;
    font-family: var(--bf-font-family) !important;
}

.bf-text-info {
    color: var(--bf-theme-info) !important;
    cursor: pointer;
    font-family: var(--bf-font-family) !important;
}

.bf-text-default {
    color: var(--bf-theme-default) !important;
    cursor: pointer;
    font-family: var(--bf-font-family) !important;
}

.bf-text-danger {
    color: var(--bf-theme-danger) !important;
    cursor: pointer;
    font-family: var(--bf-font-family) !important;
}

.bf-border-primary {
    border: 1px solid var(--bf-theme-primary) !important;
}

.bf-border-success {
    border: 1px solid var(--bf-theme-success) !important;
}

.bf-border-warning {
    border: 1px solid var(--bf-theme-warning) !important;
}

.bf-border-info {
    border: 1px solid var(--bf-theme-info) !important;
}

.bf-border-default {
    border: 1px solid var(--bf-theme-default) !important;
}

.bf-border-danger {
    border: 1px solid var(--bf-theme-danger) !important;
}

.bf-btn {
    font-family: var(--bf-font-family) !important;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    border-radius: 4px;
}

.bf-btn:hover {
    color: white !important;
}

/* solve issue: appTheme forcing color for span children */
.bf-wysiwyg-top span span {
    color: inherit;
}

.bf-wysiwyg-hide-app {
    display: none;
}

.bf-expression-error {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(232, 232, 232);
    font-family: Menlo, Consolas, monospace !important;
    font-size: medium;
    padding: 2rem;
    line-height: 1.2;
    white-space: pre-wrap;
    overflow: auto;
    user-select: text;
}

.bf-wysiwyg-top p, p.bf-wysiwyg-top,
.bf-wysiwyg-top span,
.bf-wysiwyg-top label,
.bf-wysiwyg-top body,
.bf-wysiwyg-top {
    color: var(--bf-theme-body-text);
}

.bf-wysiwyg-top h1, h1.bf-wysiwyg-top,
.bf-wysiwyg-top h2, h2.bf-wysiwyg-top,
.bf-wysiwyg-top h3, h3.bf-wysiwyg-top,
.bf-wysiwyg-top h4, h4.bf-wysiwyg-top,
.bf-wysiwyg-top h5, h5.bf-wysiwyg-top,
.bf-wysiwyg-top h6, h6.bf-wysiwyg-top {
    color: var(--bf-theme-header-text);
}

.bf-wysiwyg-top img.full_width:not([width]):not([height]) {
    width: 100%;
}

.bf-wysiwyg-top img.half_width:not([width]):not([height]) {
    width: 50%;
}

.bf-wysiwyg-top img.third_width:not([width]):not([height]) {
    width: 33%;
}

.bf-wysiwyg-top img.quarter_width:not([width]):not([height]) {
    width: 25%;
}

.bf-wysiwyg-top img.fifth_width:not([width]):not([height]) {
    width: 20%;
}
 
.bf-wysiwyg-top img.sixth_width:not([width]):not([height]) {
    width: 16%;
}
