/* Transition for sliding content in and out */
.slide{
    left:0;
}
.slide.ng-enter,
.slide.ng-leave{
	position:absolute;
    -webkit-transition:all 0.75s ease;
    -moz-transition:all 0.75s ease;
    -o-transition:all 0.75s ease;
    transition:all 0.75s ease;
}
.slide.ng-enter {
    left:-100%;
	transition-delay:0.2s;
}
.slide.ng-enter-active {
    left:0;
	opacity:1;
}
.slide.ng-leave {
    left:0;
    opacity:0.3;
}
.slide.ng-leave-active {
    left:-100%;
}


#main-content #emulator .slowFade{
    position:absolute;
	top:0;
	opacity:1;
    -webkit-transition:all 0.85s ease;
    -moz-transition:all 0.85s ease;
    -o-transition:all 0.85s ease;
    transition:all 0.85s ease;
}
#main-content #emulator .ng-hide.slowFade{
    top:-800px;
    opacity:0.3;
}