@font-face {
	font-family: 'icomoon';
	src:url('../fonticons/icomoon.eot?gec1t1');
	src:url('../fonticons/icomoon.eot?gec1t1#iefix') format('embedded-opentype'),
		url('../fonticons/icomoon.woff2?gec1t1') format('woff2'),
		url('../fonticons/icomoon.ttf?gec1t1') format('truetype'),
		url('../fonticons/icomoon.woff?gec1t1') format('woff'),
		url('../fonticons/icomoon.svg?gec1t1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil3:before {
	content: "\e618";
}
.icon-brush2:before {
	content: "\e601";
}
.icon-aim:before {
	content: "\e621";
}
.icon-cog:before {
	content: "\e602";
}
.icon-hammer-wrench:before {
	content: "\e603";
}
.icon-shovel:before {
	content: "\e617";
}
.icon-heart:before {
	content: "\e902";
}
.icon-files:before {
	content: "\e604";
}
.icon-shuffle:before {
	content: "\e61b";
}
.icon-repeat-one:before {
	content: "\e61c";
}
.icon-repeat:before {
	content: "\e61d";
}
.icon-camera2:before {
	content: "\e903";
}
.icon-profile:before {
	content: "\e605";
}
.icon-users2:before {
	content: "\e61a";
}
.icon-store:before {
	content: "\e901";
}
.icon-cart:before {
	content: "\e615";
}
.icon-cart-plus:before {
	content: "\e616";
}
.icon-tags:before {
	content: "\e904";
}
.icon-map-marker:before {
	content: "\e622";
}
.icon-location:before {
	content: "\e623";
}
.icon-calendar-check:before {
	content: "\e624";
}
.icon-laptop-phone:before {
	content: "\e61f";
}
.icon-window:before {
	content: "\e606";
}
.icon-bubble:before {
	content: "\e905";
}
.icon-bubble-question:before {
	content: "\e607";
}
.icon-pie-chart:before {
	content: "\e608";
}
.icon-puzzle:before {
	content: "\e609";
}
.icon-bullhorn:before {
	content: "\e60a";
}
.icon-volume-high:before {
	content: "\e61e";
}
.icon-cli:before {
	content: "\e619";
}
.icon-bug:before {
	content: "\e626";
}
.icon-link2:before {
	content: "\e60b";
}
.icon-menu:before {
	content: "\e60c";
}
.icon-list:before {
	content: "\e906";
}
.icon-check:before {
	content: "\e60d";
}
.icon-cross2:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e900";
}
.icon-chevron-down:before {
	content: "\e60f";
}
.icon-chevron-left:before {
	content: "\e610";
}
.icon-chevron-right:before {
	content: "\e625";
}
.icon-backward-circle:before {
	content: "\e611";
}
.icon-play-circle:before {
	content: "\e612";
}
.icon-pause-circle:before {
	content: "\e613";
}
.icon-forward-circle:before {
	content: "\e614";
}
.icon-check-square:before {
	content: "\e801";
}
.icon-border-all1:before {
	content: "\e907";
}
.icon-ellipsis:before {
	content: "\e620";
}

