@font-face {
	font-family: 'icomoon';
	src:url('../fonticons/icomoon.eot?-6lnnd4');
	src:url('../fonticons/icomoon.eot?#iefix-6lnnd4') format('embedded-opentype'),
		url('../fonticons/icomoon.woff2?-6lnnd4') format('woff2'),
		url('../fonticons/icomoon.ttf?-6lnnd4') format('truetype'),
		url('../fonticons/icomoon.woff?-6lnnd4') format('woff'),
		url('../fonticons/icomoon.svg?-6lnnd4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil3:before {
	content: "\e618";
}
.icon-brush2:before {
	content: "\e601";
}
.icon-aim:before {
	content: "\e621";
}
.icon-cog:before {
	content: "\e602";
}
.icon-hammer-wrench:before {
	content: "\e603";
}
.icon-shovel:before {
	content: "\e617";
}
.icon-files:before {
	content: "\e604";
}
.icon-shuffle:before {
	content: "\e61b";
}
.icon-repeat-one:before {
	content: "\e61c";
}
.icon-repeat:before {
	content: "\e61d";
}
.icon-profile:before {
	content: "\e605";
}
.icon-users2:before {
	content: "\e61a";
}
.icon-cart:before {
	content: "\e615";
}
.icon-cart-plus:before {
	content: "\e616";
}
.icon-map-marker:before {
	content: "\e622";
}
.icon-location:before {
	content: "\e623";
}
.icon-calendar-check:before {
	content: "\e624";
}
.icon-laptop-phone:before {
	content: "\e61f";
}
.icon-window:before {
	content: "\e606";
}
.icon-bubble-question:before {
	content: "\e607";
}
.icon-pie-chart:before {
	content: "\e608";
}
.icon-puzzle:before {
	content: "\e609";
}
.icon-bullhorn:before {
	content: "\e60a";
}
.icon-volume-high:before {
	content: "\e61e";
}
.icon-code:before {
	content: "\e619";
}
.icon-link2:before {
	content: "\e60b";
}
.icon-menu:before {
	content: "\e60c";
}
.icon-check:before {
	content: "\e60d";
}
.icon-cross2:before {
	content: "\e60e";
}
.icon-chevron-down:before {
	content: "\e60f";
}
.icon-chevron-left:before {
	content: "\e610";
}
.icon-chevron-right:before {
	content: "\e625";
}
.icon-backward-circle:before {
	content: "\e611";
}
.icon-play-circle:before {
	content: "\e612";
}
.icon-pause-circle:before {
	content: "\e613";
}
.icon-forward-circle:before {
	content: "\e614";
}
.icon-ellipsis:before {
	content: "\e620";
}
